<script type="text/javascript">
    $(function(){
var editor = KindEditor.create('.kindcontent', {allowFileManager : true,afterBlur: function(){this.sync();}});
    })
</script>
<form id="NewUserForm" method="post" action="/zbmanlogin/savePage.htm">
    <input type="hidden" name="aId" value="$!{page.aId}" />
    <input type="hidden" name="act" value="newpage" />
    <table width="100%" cellpadding="0" cellspacing="0" class="tab2">
        <tr>
            <th width="90">
                栏目类别:
            </th>
            <td>
                <span>
					<select name="source" datatype="*" nullmsg="请选择栏目类别">
						<option value="1" #if($!{page.source}==1) selected #end>关于左边</option>
						<option value="2" #if($!{page.source}==2) selected #end>帮助中心</option>
						<option value="3" #if($!{page.source}==3) selected #end>订购指南</option>
						<option value="4" #if($!{page.source}==4) selected #end>批发商问题</option>
						<option value="5" #if($!{page.source}==5) selected #end>组团社问题</option>
					</select>
                </span>
                <div class="Validform_checktip"></div>
            </td>
        </tr>
        <tr>
            <th>
                栏目标题:
            </th>
            <td>
                <span><input class="w300" nullmsg="标题不能为空" datatype="*" errormsg="标题不能为空"  type="text" name="title" value="$!{page.title}" /></span>
                <div class="Validform_checktip"></div>
            </td>
        </tr>
        <tr>
            <th>
                栏目内容:
            </th>
            <td class="td_padding">
                <span><textarea datatye="*" class="kindcontent" name="content" style="width: 100%;height:300px;" value="" >$!{page.content}</textarea></span>
                <div class="Validform_checktip"></div>
            </td>
        </tr>
        <tr>
            <th>
                排序：
            </th>
            <td>
                <span><input class="w50" nullmsg="排序不能为空" datatype="*" errormsg="排序必须为数字"  type="text" name="sort" value="$!{page.sort}" /></span>
                <div class="Validform_checktip"></div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
				<input type="submit" value="提交" class="btn btn-primary" onclick="OrgFormL(this)"/>
            </td>
        </tr>
    </table>
    <div class="clear">
    </div>
</form>