<link href="/static/css/page.css" rel="stylesheet" />
<div style="padding:10px;">
    <form method="post" action="/account/templatelist.htm">
        <input type="text" name="lTile" value="" />
        <input type="submit" value="查询" />
    </form>
</div>
<table cellpadding="3" cellspacing="0" border="0" width="100%" class="alertTable">
    <tbody>
        <tr>
            <th valign="middle">
                线路名称
            </th>
            <th width="90" valign="middle">
                天数
            </th>
            <th width="60">
                标准
            </th>
			<th width="120">
                更新日期
            </th>
            <th width="60">
                导入
            </th>
        </tr>
    </tbody>
    <tbody>
		#foreach($!temp in $!template)
        <tr>
            <td style="border-left: 1px solid #ccc">
					$!temp.lTile
            </td>
            <td>
					$!temp.lDay
            </td>
            <td>
					$!temp.lTypeString
			</td>
			<td>
					${dateViewTools.format($!temp.gmtModified,'yyyy-MM-dd HH:mm')}
            </td>
            <td align="center">
                <a href="javascript:void(0)" onclick="parent.InsertTemplate($!temp.lId);">导入</a>
            </td>
        </tr>
		#end
    </tbody>
</table>
<div>
    $widget.setTemplate("pagination/pager").addParam('pagination',$pagination)
</div>
