.clear {
	clear: both;
}
li,ul,dl,dd,dt {
	margin: 0;
	padding: 0;
}
.shop_main {
	width: 1180px;
	margin: 0 auto;
}
.shop_title01 {
	background: #4690CD;
	height: 36px;
	line-height: 36px;
	color: #fff;
}
.shop_title01 h2 {
	font-size: 14px;
	margin-left: 10px;
	float: left;
	color: #fff;
	line-height: 36px;
}
.shop_title01 div {
	float: right;
	line-height: 36px;
	height: 36px;
	margin-right: 10px;
}
.shop_title01 input {
	float: left;
	margin-top: 5px;
}
.search_input {
	height: 26px;
	width: 290px;
	border: 0;
	background: url(/static/img/newindex/search_ico.gif) no-repeat 5px 5px #fff;
	padding-left: 30px;
}
.search_submit {
	background: url(/static/img/newindex/search_submit.gif) no-repeat;
	width: 70px;
	height: 25px;
	border: 0;
	cursor: pointer;
}
.search_lists {
	border: #CCCCCC 1px solid;
	border-top: none;
	background: #fff;
	padding: 10px;
}
.search_lists td,.search_lists td {
	border-bottom: #fff solid 1px;
	line-height: 24px;
}
.search_lists {
	border: #CCC 1px solid;
	background: #FFF;
	margin-bottom: 10px;
	padding: 5px 0px px 0;
}
.search_lists dl {
	margin: 0 5px 0 5px;
	overflow: hidden;
	border-bottom: 1px dashed #e7e7e7;
	padding: 0px 0 3px 0 !important;
	zoom: 1;
}
.search_lists dt {
	color: #4690CD;
}
.search_lists dl dt {
	margin: 4px 0px 0 0px;
}
.search_lists dd,.search_lists dt {
	float: left;
}
.search_lists dd,.search_lists dt {
	line-height: 22px;
	margin: 2px 0 2px 0;
}
/*****************.search_list dd {
	width: 92%;
}
********/
	.search_lists dd a {
	color: #666666 !important;
	display: inline-block;
	margin: 2px 5px 2px 5px;
	padding: 0 3px 0 3px;
}
.search_lists dd a: hover {
	text-decoration: underline;
	background: #F60;
	color: #FFF !important;
}
.search_lists dd a.on {
	background: #F60;
	color: #FFF !important;
	border: 0px;
}
.shop_list {
	background: #fff;
	overflow: hidden;
	_zoom: 1;
	border: #CCCCCC 1px solid;
	padding: 15px 0 15px 15px;
	margin-bottom: 10px;
}
.shop_list h2 {
	color: #4690CD;
	font-weight: bold;
	font-size: 14px;
	padding-left: 10px;
	line-height: 30px;
	border-bottom: #ccc 1px solid;
}
.shop_list dl {
	float: left;
	width: 260px;
	margin: 5px 10px 5px 15px;
	text-align: center;
	color: #333333;
}
.shop_list dl dt {
	width: 260px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* for internet explorer*/
	overflow: hidden;
	display: block;
}
.shop_list dd {
	border: 1px solid transparent;
}
.shop_list dd: hover {
	border: 1px solid #4690CD;
}
.shop_list dt {
	text-align: center;
	margin-bottom: 5px;
}
.shop_list dl .cart {
	background: url(/static/img/newindex/shopping.jpg) no-repeat;
	width: 79px;
	height: 21px;
	line-height: 21px;
	display: inline-block;
}
.shop_list dl .jifen {
	background: url(/static/img/newindex/jifen_bj.jpg) no-repeat;
	width: 87px;
	height: 21px;
	line-height: 21px;
	display: inline-block;
}
.shop_list dl .jifen {
	color: Red;
	margin-right: 5px;
	text-indent: 25px;
	text-align: left;
	font-weight: bold;
}
DIV.yahoo2 {
	padding-right: 3px;
	padding-left: 3px;
	font-size: 0.85em;
	padding-bottom: 3px;
	margin-top: 20px;
	padding-top: 3px;
	text-align: center;
	font-size: 12px;
	font-family: '微软雅黑','宋体';
}
DIV.yahoo2 A {
	border-right: #ccdbe4 1px solid;
	padding-right: 8px;
	background-position: 50% bottom;
	border-top: #ccdbe4 1px solid;
	padding-left: 8px;
	padding-bottom: 2px;
	border-left: #ccdbe4 1px solid;
	color: #0061de;
	margin-right: 3px;
	padding-top: 2px;
	border-bottom: #ccdbe4 1px solid;
	text-decoration: none;
}
DIV.yahoo2 A: hover {
	border-right: #2b55af 1px solid;
	border-top: #2b55af 1px solid;
	background-image: none;
	border-left: #2b55af 1px solid;
	color: #fff;
	border-bottom: #2b55af 1px solid;
	background-color: #3666d4;
}
DIV.yahoo2 A: active {
	border-right: #2b55af 1px solid;
	border-top: #2b55af 1px solid;
	background-image: none;
	border-left: #2b55af 1px solid;
	color: #fff;
	border-bottom: #2b55af 1px solid;
	background-color: #3666d4;
}
DIV.yahoo2 .current {
	padding-right: 6px;
	padding-left: 6px;
	font-weight: bold;
	padding-bottom: 2px;
	color: #000;
	margin-right: 3px;
	padding-top: 2px;
}
DIV.yahoo2 SPAN.disabled {
	display: none;
}
DIV.yahoo2 A.next {
	border-right: #ccdbe4 2px solid;
	border-top: #ccdbe4 2px solid;
	margin: 0px 0px 0px 10px;
	border-left: #ccdbe4 2px solid;
	border-bottom: #ccdbe4 2px solid;
}
DIV.yahoo2 A.next: hover {
	border-right: #2b55af 2px solid;
	border-top: #2b55af 2px solid;
	border-left: #2b55af 2px solid;
	border-bottom: #2b55af 2px solid;
}
DIV.yahoo2 A.prev {
	border-right: #ccdbe4 2px solid;
	border-top: #ccdbe4 2px solid;
	margin: 0px 10px 0px 0px;
	border-left: #ccdbe4 2px solid;
	border-bottom: #ccdbe4 2px solid;
}
DIV.yahoo2 A.prev: hover {
	border-right: #2b55af 2px solid;
	border-top: #2b55af 2px solid;
	border-left: #2b55af 2px solid;
	border-bottom: #2b55af 2px solid;
}
.banner {
	margin-bottom: 10px;
	overflow: hidden;
	_zoom: 1;
}
.imgplay {
	width: 920px;
}
.imgplay img {
	width: 920px;
	height: 260px;
}
/* 焦点图*/
	#focus {
	width: 920px;
	height: 260px;
	overflow: hidden;
	position: relative;
}
#focus ul {
	height: 360px;
	position: absolute;
}
#focus ul li {
	float: left;
	width: 920px;
	height: 260px;
	overflow: hidden;
	position: relative;
	background: #000;
}
#focus ul li div {
	position: absolute;
	overflow: hidden;
}
#focus .btnBg {
	position: absolute;
	width: 920px;
	height: 40px;
	left: 0;
	bottom: 0;
	background: #000;
}
#focus .btn_text {
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	position: absolute;
	width: 400px;
	height: 40px;
	left: 0;
	bottom: -10px;
	text-align: left;
	padding-left: 10px;
	overflow: hidden;
	display: none;
}
#focus .btn {
	position: absolute;
	width: 700px;
	height: 10px;
	padding: 5px 10px;
	right: 0;
	bottom: 0;
	text-align: right;
}
#focus .btn span {
	display: inline-block;
	_display: inline;
	_zoom: 1;
	width: 25px;
	height: 10px;
	_font-size: 0;
	margin-left: 5px;
	cursor: pointer;
	background: #fff;
}
#focus .btn span.on {
	background: #fff;
}
#focus .preNext {
	width: 45px;
	height: 100px;
	position: absolute;
	top: 90px;
	background: url(/Img/index/bj-v.png) no-repeat 0 0;
	cursor: pointer;
}
#focus .pre {
	left: 0;
	background-position: -186px -609px;
}
#focus .next {
	right: 0;
	background-position: -235px -609px;
}
.user_login {
	width: 248px;
	border: #CCC 1px solid;
	background: #FFF;
	height: 258px;
}
.user_login .title {
	height: 42px;
	line-height: 42px;
}
.user_login .title a {
	display: inline-block;
	float: left;
	width: 124px;
	text-align: center;
	font-size: 16px;
}
.user_login .title .on0,.user_login .title .on1,.user_login .title a {
	background: url(/Img/index/bj-v.png) no-repeat;
	color: #028FD1;
}
.user_login .title .on {
	background-position: 0 -448px;
	border-bottom: none;
}
.user_login .title a {
	border-left: #CCC 1px solid;
	border-bottom: #CCC 1px solid;
	width: 123px;
}
.user_input {
	margin: 20px 0px 10px 10px;
}
.user_input .login_input {
	border: #999999 1px solid;
	background: url(/Img/index/bj-v.png) no-repeat 0 -53px;
	height: 28px;
	line-height: 28px;
	width: 160px;
	font-weight: bold;
	text-indent: 5px;
}
.user_input dl {
	line-height: 30px;
	height: 30px;
	margin-bottom: 15px;
}
.user_input dl dt {
	float: left;
	width: 60px;
	font-size: 14px;
}
.user_input p {
	margin-left: 60px;
	line-height: 20px;
	padding: 0px;
}
.user_input p a {
	display: inline-block;
	margin-left: 10px;
}
.user_input span {
	display: block;
	margin-top: 20px;
}
.user_submit,.user_reg,.user_submit: hover,.user_reg: hover {
	background: url(/Img/index/bj-v.png);
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	line-height: 38px;
	text-align: center;
	border: 0;
	cursor: pointer;
}
.user_submit {
	width: 102px;
	height: 38px;
	background-position: 0px -102px;
	color: #FFF;
	margin-right: 25px;
	float: left;
}
.user_reg {
	width: 92px;
	height: 38px;
	background-position: -120px -102px;
	color: #000;
	float: left;
}
.user_submit: hover {
	background-position: 0px -152px;
	color: #FFF!important
}
.user_reg: hover {
	background-position: -120px -152px;
	color: #000!important }
.userlogin_info {
	margin: 20px 10px 10px 10px;
}
.userlogin_info dl {
	overflow: hidden;
	_zoom: 1;
}
.userlogin_info dl dd {
	float: left;
	border: 1px solid #ccc;
	margin-right: 10px;
}
.userlogin_info dl dt h3 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 4px;
	color: #333
}
.userlogin_info dl dt span tt {
	color: #D90000;
	margin-right: 10px;
	margin-top: 2px;
}
.user_info {
	margin: 15px 0 25px 0;
	line-height: 26px;
}
.user_go,.user_out,.user_go: hover,.user_out: hover {
	background: url(/static/img/newindex/bj-v.png);
	height: 34px;
	display: inline-block;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
	font-weight: bold;
}
.user_go {
	width: 112px;
	background-position: 0px -786px;
	color: #fff!important;
	margin-right: 10px;
}
.user_out {
	width: 82px;
	background-position: 0px -839px;
}
.user_go: hover {
	background-position: -124px -786px;
}
.user_out: hover {
	background-position: -101px -839px;
}
.user_info p {
	color: #333;
	display: none
}
.user_info tt {
	color: Red;
	font-size: 18px;
	font-weight: 700;
	padding: 0 2px 0 2px
}
.user_info a {
	display: inline-block;
	margin-left: 10px;
	color: Red!important;
}
/*商城详细页*/
	#i_main {
	overflow: hidden;
	_zoom: 1;
	padding-top: 10px;
}
.cbox {
	width: 1180px;
	margin: 0 auto;
}
.shop_view {
	border: #ccc 1px solid;
	background: #fff;
	margin: 10px 0 20px 0;
	overflow: hidden;
	_zoom: 1;
	width: 1178px;
}
.shop_title {
	line-height: 32px;
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
}
.shop_title span {
	font-size: 14px;
	font-weight: bold;
	color: #4690CC;
}
.shop_title a {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.shop_info {
	margin: 10px;
	overflow: hidden;
	_zoom: 1;
}
.shop_pic {
	border: 1px solid #ccc;
}
.shop_pic {
	width: 350px;
	height: 320px;
	border: 1px solid #ccc;
	overflow: hidden;
	position: relative;
	display: table-cell;
	text-align: center;
	vertical-align: middle	}
.shop_pic p {
	position: static;
	+position: absolute;
	top: 50%	}
.shop_pic img {
	position: static;
	+position: relative;
	top: -50%;
	left: -50%;
}
.shop_memo {
	width: 800px;
	float: right;
}
.shop_memo h1 {
	font-size: 14px;
	line-height: 40px;
	border-bottom: 1px dotted #ccc;
}
.shop_memo dl {
	height: 30px;
	line-height: 30px;
}
.shop_memo dd,.shop_memo dt {
	float: left;
}
.shop_memo dt {
	font-weight: bold;
}
.shop_memo .price {
	font-family: "宋体";
	vertical-align: middle;
}
.shop_memo .jifen {
	color: Red;
	font-size: 13px;
}
.shop_memo a {
	display: inline-block;
	margin-top: 20px;
}
.shop_detail {
	margin: 20px 0 20px 0;
}
.shop_detail h3 {
	color: #C90B12;
	font-weight: bold;
	font-size: 16px;
	border-bottom: 2px solid #c90b12;
	padding-bottom: 5px;
}
.shop_content {
	margin: 20px 0 20px 0;
}
/*加入购物车*/
	.shop_cart {
	margin: 10px;
}
.shop_cart .title {
	font-size: 15px;
	font-weight: bold;
	color: #666;
	margin-bottom: 10px;
}
.cart_table table {
	border: #ccc 1px solid;
}
.cart_table th,cart_table,td {
	text-align: left;
	line-height: 24px;
	padding: 5px;
}
.cart_table th {
	background: #E4E4E4;
	font-weight: normal;
}
.ky_jifen {
	line-height: 30px;
	text-align: right;
	color: Red;
	font-weight: bold;
	margin-right: 10px;
}
.cart_info .input2 {
	border: 1px solid #ccc;
	height: 20px;
	line-height: 20px;
}
.cart_info select {
	border: 1px solid #ccc;
	line-height: 25px;
	color: #666;
	margin: -1px;
	padding: 4px 3px;
	font-size: 13px;
	width: 93px;
	*width: 85px;
}
.cart_info th {
	text-align: right;
	width: 100px;
}
.cart_submit {
	background: url(/static/img/newindex/cart_submit.jpg) no-repeat;
	width: 272px;
	height: 59px;
	border: 0;
	cursor: pointer;
}
.cart_submit: hover {
	background-position: 0 -59px;
}