<table class="tbl" cellpadding="0" cellspacing="0">
    <tr>
			<th width="100">团号</th>
            <th width="100">出团日期</th>
            <th width="100">出发/抵达</th>
            <th>线路名称</th>
            <th width="50">天数</th>
            <th width="100">结算价</th>
            <th width="200">交通</th>
            <th width="80">剩余</th>
            <th width="60">状态</th>
</tr>
#foreach( $!line in $list ) 
    <tr>
			<td>$!line.lGroupNumber</td>
            <td>$!line.lGoGroupTimeString</td>
            <td>$!line.lCity/$!line.lArrivalCity</td>
            <td>
                #set($url='/line/' + $!{line.lGroupNumber} + '.htm')
                <a href="$url" target="_blank">$!line.lTile</a>
                <br/>
                <label>标准：</label>
                $!line.lTypeString
                #if($!line.lIsIntegral==1)
                    <label class="split">|</label>
                    <label>积分：</label>
                    $!line.lAdultIntegral/成人|$!line.lChildrenIntegral/儿童
                #end
            </td>
            <td>$!line.lDay天</td>
            <td>
                <label>成：</label>￥$!{format.formatFloat($!line.lJCrPrice)}<br />
                <label>儿：</label>￥$!{format.formatFloat($!line.lJXhPrice)}</td>
                <td>
                    <label>往($!line.lTrafficyTypeString)：</label>$!line.lGoTraffic<br />
                    <label>返($!line.lTrafficBackTypeString)：</label>
                    $!line.lBackTraffice
                </td>
                <td>
                    <b>$!line.lSurplusCount</b>
                    /$!line.lRenCount</td>
                    <td>
                        #if($!line.lStateString=="预定")
                            <a href="$url" title="预定">$!line.lStateString</a>
                            #else
                                <font color="red">$!line.lStateString</font>
                        #end
                    </td>
</tr>
#end
</table>
$widget.setTemplate("pagination/pager").addParam('pagination',$pagination)