<table class="table table-bordered table-hover table-striped" cellpadding="0" cellspacing="0">
    <tr>
        <th width="50">状态</th>
        <th width="120">管理类型</th>
        <th>用户名</th>
        <th width="80">真实姓名</th>
        <th width="80">手机号码</th>
        <th width="80">添加时间</th>
        <th width="80">操作</th>
    </tr>
    
    #foreach( $!member in $!memberList ) 
    <tr>
        <td>
        	#if($!member.mState==0)
            	正常
            #elseif($!member.mState==1)
            	<span class="red">失效</span>
            #end
        </td>
        <td>
        	#if($!member.mType==0)
            	超级管理员
            #elseif($!member.mType==1)
            	普通管理员
            #end
        </td>
        <td>$!member.mUserName</td>
        <td>$!member.mName</td>
        <td>$!member.mMobile</td>
        <td>${dateViewTools.formatDate($!member.gmtCreate)}</td>
        <td>
        <div class="w120" style="line-height: 26px;">
        <a href="javascript:void(0)" onclick="Page_Add($!member.mId,'ljEdit.htm','修改用户')" class="btn btn-primary btn-mini" ><i class="icon-edit icon-white"></i> 修改</a>
        <a href="javascript:void(0)" title="删除" onClick="DelList('deleteUser.htm',$!member.mId,this,3);return false"  class="btn btn-mini"><i class="icon-remove"></i> 删除</a>
        </div>
        </td>
    </tr>
	#end
</table>
$widget.setTemplate("pagination/pager").addParam('pagination',$pagination)