@charset "utf-8";
/* CSS Document */
body {
    margin:0; padding:0; font:normal 12px arial,'微软雅黑';
    color:#666;
}

ul, li,form,em,dl,dd,dt {
    list-style-type:none; margin:0; padding:0;
    font-style: normal;
}

a {
    color:#666; text-decoration:none;
    -webkit-transition:color .3s ease;
}
a:hover {
    color:#f60;
    text-decoration: none;
    -webkit-transition:color .3s ease;
}
h1, h2, h3, h4, h5, h6 {
    margin:0; padding:0; font-weight:normal;
}
input,textarea{
    border:1px solid #ddd; outline:none;
}

.fl{ float:left; }
.fr{ float:right; }
.none{ display:none;}
.clear{clear:none;}

.btn-info,.btn-primary{color:#FFF!important;}
.btn-danger{color:#FFF!important;}
.hide{display:none;}
.show{display:block;}
.h10{height:10px;clear:both;}
.red{color:#F00;}
.blue{color:#1169EE;}
.cen{text-align:center;}

.travelLines a{
    position:relative;
    float:left; display:block; padding:0 5px; margin:0 5px 5px 0;
    cursor: pointer;
}

.travelLines{
    padding:0; border:none;
}
.travelLines a{
    width:110px; height:30px; line-height:30px; text-align:center; margin:0 5px 5px 0;
    background-color:#f7f7f7; border:1px solid #e6e6e6; border-left:none; border-top:none;
    font-size:12px!important;
}
.travelLines a:hover {
    background-color:#f60; color:#fff;
}
.travelLines .hover,.travelLines .hover a:hover{
	background-color:#666666; color:#fff;
}
.travelLines a:hover .iHot,.travelLines .hover .iHot{
    background-position:-100px -40px;
}
.travelLines .icon{
    position:absolute;left:0;top:0;
}



.markSelectBox{width:80px;border:transparent 1px solid;height:24px;font-size:12px;}
.markSelectBox:hover,.markSelectBox.on{border:#D5D2D7 1px solid;border-bottom:none;position:relative;background:#fff;z-index:88;}
.shadow{position:absolute;width:80px;border:#D5D2D7 1px solid;border-top:none;background:#FFF;display:none;left:-1px;}
.markSelectBox a{display:block;line-height:22px;height:22px;text-align:center;font-size:12px!important;padding:0 5px 0 5px;color:#000000!important;}
.markSelectBox .on a{color:#ffffff!important;}
.markSelectBox a:hover{background:#FF8000;color:#fff!important;}
.jan{display:inline-block; width:0; height:0; margin-bottom:-2px; border-width:4px; border-style:solid dashed dashed; overflow:hidden;border-color:#CCC transparent transparent;margin-left:10px;
 }



/*列表搜索框*/
.search-list{padding:10px 10px;background: #F7F7F7;border:1px solid #E8E8E8;margin-bottom:10px;}
.search-list th,.search-list td{padding:5px;}

/**/
.tbl{ width:100%; margin-top:1px; line-height:22px; }
.tbl th{border-bottom:1px solid #eee;height:45px; line-height:45px;text-align:left; padding-left:8px;color:#000000;font-size:14px;}
.tbl td{padding:9px;border-bottom:1px solid #eee;}
.tbl a,.table a{font-size:12px;color:#003bb3}
.tbl a:hover{text-decoration:underline;}
.tbl .h1 a,.table .h1 a{color:#f60; font-size:14px;}
.tbl .h2 a,.table .h2 a{color:#f60; font-size:12px;}
.tbl .btn{font-size:12px;}



/*
.tbl a.btn{
    padding:5px 8px; background:#f60; color:#fff; font-size:12px;
}
*/
.tbl b{color:#f60; font-size:24px; font-weight:normal;}
.tbl label{color:#999;display:inline;font-size:12px;}
.tbl label.split{color:#ddd;margin:0 8px;}
.tbl .link{font-weight: normal;color:#FFFFFF;line-height:20px;font-size:12px;}

/*form表单*/
.tab2,.tab2_1{margin:0 2px 15px 2px;}
.tab2 td,.tab2_1 td{padding:8px;line-height:30px;}
.tab2 td span,.tab2_1 td span{display: block;float: left;line-height:30px;margin-right:5px;line-height:30px;font-size:14px;}
.tab2 td label,.tab2_1 td label{float:left;margin:0 2px 0 2px;line-height: 30px;font-weight: normal;}
.tab2 .rad,.tab4 .rad,.tab2_1 .rad{float: left;padding-right:20px;height:30px;line-height:30px;display:block;}
.tab2 .rad input,.tab4 .rad input,.tab2_1 .rad input{vertical-align: middle;margin-bottom:5px;margin-right:3px;}
.tab2 th,.tab2_1 th{font-size: 14px;line-height:30px;font-weight: normal;text-align: left;}
.tab2_1 td,.tab2_1 th{border-bottom:1px solid #eee;}


.tab3 dl{margin:15px 0 15px 0;overflow: hidden;_zoom:1;}
.tab3 dl dd,.tab3 dl dt{float:left;margin-right:10px;font-size: 14px;}
.tab3 dl dd{line-height: 30px;}

.tab4 {margin-top: 10px;}
.tab4 td{padding:5px;font-size:14px;border-bottom:1px solid #f4f4f4;}
.tab4 th{font-weight:normal;text-align:left;border-bottom:1px solid #f4f4f4;}

.price{font-size:18px;color:#F76809}
.price em{font-size:12px;color:#333;font-weight:normal;list-style:none;}

/*==========以下部分是Validform必须的===========*/
.Validform_checktip{
    margin-left:8px;
    line-height:30px;
    height:30px;
    overflow:hidden;
    color: #e6e6e6;
    font-size:12px;
}
.Validform_right{
    color:#71b83d;
    padding-left:20px;
    background:url(/static/img/right.png) no-repeat left center;
}
.Validform_wrong{
    color:red;
    padding-left:20px;
    white-space:nowrap;
    background:url(/static/img/error.png) no-repeat left center;
}
.Validform_loading{
    padding-left:20px;
    background:url(/static/img/onLoad.gif) no-repeat left center;
}
.Validform_error{
    background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:19891122; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}



.quanxian dl{width:130px;float:left;margin-right:10px;}
.quanxian dd{font-weight:bold;border-bottom:1px solid #f4f4f4;padding:5px 0;}
.quanxian label{display:block;margin:0;line-height:24px;}
.tab2 .quanxian label{display:block;float:none;margin:0;line-height:24px;}
.quanxina input{vertical-align:middle;}


/*站点选择*/
.Selectbox{height:32px;position: relative;}
.Selectbox .Select_list{
    position: absolute;top:32px;left:0;
    display:none;
   border:1px solid #eeeeee;background:#ffffff;padding:10px;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    background-color: #ffffff;
    border: 10px solid transparent;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 12px #000000;
    -webkit-box-shadow: 0px 0px 12px #000000;
    box-shadow: 0px 0px 12px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}
.Select_list dl{overflow:hidden;_zoom:1;margin:5px 0;}
.Select_list dd{float:left;font-weight: bold;}
.Select_list dt{float:left;text-align:left;}
.Select_list dt a,.Selecthtml a{font-weight: normal;padding:5px;margin-right:10px;cursor: pointer;}

.Select_list dt a i{display:none;}
.Select_list dt a:hover,.Selecthtml a,.Select_list .cur{background:#F79709;color:#ffffff!important;}
.Select_list .cur i{display:inline-block;}
.SelectSub{float:left;}
.Selecthtml{float:left;line-height:32px;margin-left:20px;}
.Selecthtml div{float:left;}
.Selecthtml a:hover{background:#F8A52A}

.ellipsis
{
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    cursor: default;
}
/* firefox only */
.ellipsis:not(p)
{
    clear: both;
}
.ellipsis:not(p) a
{
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;

}
.ellipsis:not(p):after
{
    float: left;
    width: 25px;
    padding-left: 1px;
}
.ellipsis span
{
    display: none;
}
#tooltip
{
    position: absolute;
    border: 1px solid #c3c3c3;
    background: #f7f5d1;
    padding: 2px 5px;
    color: #333;
    display: none;
    z-index: 999;
    box-shadow: 2px 2px 2px #E6E6E6 ;

}



.btn3_mouseout{display: none;}
.photo-list th{text-align: left;padding: 10px; vertical-align: top;}
.photo-list td{padding: 10px;}
.photo-list{overflow: hidden;_zoom:1;}
.photo-list dl{width: 162px; height:170px;float: left;margin: 5px 10px 5px 0px;overflow: hidden;_zoom:1;}
.photo-list dd,.photo-list dt{margin:0;padding:0;}
.photo-list dl dd{width:160px;height:128px;border:#CCC 1px solid;background: #f9f9f9;overflow:hidden;position:relative;}
.photo-list dl dd div{position:absolute;line-height:24px;text-align:right;bottom:0;font-size:12px;
background:rgba(0,0,0,0.2) none repeat scroll !important; /*实现FF背景透明，文字不透明*/
background:#000; filter:Alpha(opacity=20);/*实现IE背景透明*/ 
}
.photo-list dl dd div a{display:inline-block;height:24px;text-align:right;padding-right:20px;color:#000!important;position:relative}
.photo-list dl dd div a:hover{color:red!important;}
      .photo-list dl dd a{display: block;width:160px;height:128px;
          text-align:center;
          display: table-cell;
          vertical-align:middle;
          text-align:center;
          *display: block;
          *font-size: 111px;
          *font-family:Arial;}
      .photo-list dl dd img{width:210px;}
      .photo-list dl dt{font-weight: normal;margin-top:10px;line-height: 24px;height:32px;font-size: 12px;width:210px;overflow: hidden;word-break:keep-all;word-spacing:normal;text-overflow: ellipsis;}
      .w150{width:146px}
      
    
    
.icl{background:url(/static/img/icoline.png) no-repeat;}
.line-title{background-color:#eeeeee;height:42px;line-height: 42px;background-position: -349px -52px;}
.line-title div,.line-title h3{width:129px;height: 42px;font-size: 16px;color: #FFFFFF; text-indent: 45px;float:left;}
.line-title span{float:left;display: inline-block;margin-left:30px;font-size:14px;}
.ico-xc{background-position: -132px -42px;}
.ico-fy{background-position: -132px -79px;}
.ico-sx{background-position: -132px -118px;}
.ico-ren{background-position: 16px -515px;}
.ico-feiji{background-position: 10px -573px;}
.ico-jiage{background-position: 10px -632px;}
.ico-xgxx{background-position: 10px -685px;}
.ico-shuoming{background-position: 10px -736px;}

.valigntop{vertical-align: top;padding-top:10px;}

/*站点列表*/
.comlist .item{overflow:hidden;_zoom:1;border-bottom:1px solid #f4f4f4}
.comlist .zd{width:70px;font-weight:bold;}
.comlist .cfd dl{border-bottom:1px solid #f6f6f6;overflow:hidden;_zoom:1;}
.comlist .cfd dt{font-weight:normal;width:100px;}
.comlist .cfd dd .rad{width:100px;}
.comlist .zd,.comlist .cfd{float:left;line-height:30px;}
.comlist .cfd dd,.comlist .cfd dt{float:left;line-height:30px;}

.coverimg{margin:20px;}
.coverimg a{display:block;margin:8px;float:left;}
.coverimg a img{width:80px;height:80px;padding-right:5px;}


.tit_ed{
	background:#f4f4f4;
	padding:0 10px;
	position:fixed;
    right:0;
    bottom:0;
	left:160px;
    _position:absolute;
    _top:expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);
	overflow:hidden;_zoom:1;
	}
.tit_ed .checknum{display:inline-block;margin-right:10px;}
.tit_ed dd,.tit_ed dt{float:left;line-height:50px;font-weight:normal;}
.tit_ed dd{margin-right:20px;}