
dl,dd,dt,em,i{margin:0;padding:0;font-style: normal}
#line_head{width:100%; position:fixed; top:0;_position:relative; z-index:100; _top:expression(offsetParent.scrollTop+0);background:#333;}

a:hover{ -webkit-transition:color .3s ease; }
.line_main{width:1000px;margin:0 auto;background: #FFFFFF;padding:20px;
    border: 1px solid #ccc;
    border-width: 0 1px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    margin-top:72px;
    position: relative;
}
.line_main .line-type{position: absolute;right:0;top:0;}
.line-type div{width:80px;height:80px;}
.line-type .inew{background-position: 0 -425px;}
.Menu_list li{float: left;}

.current{
    float:left;display:block; text-align:center;
    border-top:5px solid #333;height:65px;
    font-size:14px;
    *width:60px;
    border-color:#f60;
    background-color:#fff; color:#111;
}

.Menu_list{position: absolute;left:160px;}
#line_Menu{width:1024px;margin:0 auto;background:#333}
#line_Menu li{
    float:left;display:block; text-align:center;
    border-top:5px solid #333;width:130px;
}
#line_Menu a{color:#999!important;display:block;padding:0 35px; height:65px;
    font-size:14px;}
#line_Menu a:hover {
    color:#FFFFFF;
}
#line_Menu a .icon{
    display:block; width:30px; height:38px; margin:0 auto;
    transition:all 0.5s ease 0.2s;
}

#line_Menu .i1{background-position:-165px -40px;}
#line_Menu .i2{background-position:-205px -40px;}
#line_Menu .i3{background-position:-245px -40px;}
#line_Menu .i4{background-position:-285px -40px;}
#line_Menu .i5{background-position:-325px -40px;}

#line_Menu .current .icon,
#line_Menu .current:hover .icon,
#line_Menu li:hover .icon{ background-position-y:0;}
#line_Menu .current,
#line_Menu .current:hover{border-color:#f60;background-color:#fff; color:#111;}
.blue{color:#0000CC!important;}
.line_main h1{font-size:18px;margin:10px 0;color:#000000;line-height: 40px;}
.line-box1{overflow: hidden;_zoom:1;margin-bottom:5px;}
.line-box1 .line-img{float:left;width:510px;}
.line-box1 .line-desc{overflow: hidden;_zoom:1;}
.line-box1 .line-desc,.line-order{float: right;width:465px;}
.line-box1 .line-desc dl{font-size:14px;clear: both;padding:12px 0}
.line-box1 .line-desc dt i{font-size:20px;color:red; font-style: normal;}
.line-box1 .line-desc dt span{color:#ff0000;}
.line-box1 .line-desc dd{margin-right:10px;width:70px;}
.line-box1 .line-company{border-top: 1px dotted #CCCCCC;margin-top:20px;overflow: hidden;_zoom:1;padding-top:10px;}
.line-box1 .line-company li{font-size:14px;line-height:24px;}
.line-box1 .line-company li span{color:#000000;}
.line-box1 .line-company li img{vertical-align:middle;}
.line-box1 .line-desc span{color:#ff0000;}
.line-box1 .line-desc dl dd,.line-box1 .line-desc dl dt{float:left;font-weight: normal;line-height:20px;}
.line-box1 .line-desc .ll{margin-left: 30px;}
.line-box1 .line-desc .jf,.line-desc .yhj{border-radius: 5px;display: inline-block;color:#FFFFFF!important;padding:0 5px;font-size:12px;line-height:22px;}
.line-box1 .line-desc .jf{border:red 1px solid;background: #ff0000;margin-right:10px;}
.line-box1 .line-desc .yhj{border:#EF7371 1px solid;background: #EF7371;}

.line-box2{overflow: hidden;_zoom:1;margin-top:10px;}
.rilis{float:left;}

/*提交订单*/
.line-form{;background:#FFFBE8;width:475px;}
.line-form .tit{background-position: 0 0;height:27px;position:relative;left:-9px; top:0px;line-height:27px;}
.line-form .tit span{display: block;;margin-left:100px;padding-top:4px;}
.line-form .tit span i{color:#ff0000;font-size:16px;font-weight: bold;}
.line-form .tit .fr{margin-right:20px;color:red;}
.order-num{margin:10px 10px 20px 10px;height:30px;}
.order-num dt{margin:0 5px;}
.order-num dt,.order-num dd{float:left;line-height:22px;}
.order-num dt{  display: inline-block;
    height: 22px;
    border: 1px solid #d4d1b5;
    vertical-align: middle;
}
.order-num .number{width:20px;float:left;height:20px;border:none;text-align: center;}
.minus, .plus {
    float: left;
    width: 19px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-style: normal;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    background: #f8f8f8;
}
.order-submit{background:#FF6600;line-height:60px;}
.order-submit span{font-size:16px;color:#FFFFFF;margin-left:20px;}
.order-submit span i{font-size: 28px;}
.order-submit .button{background-position: 0 -162px;height:45px;width:135px;display: block;float:right;margin:10px 20px;text-align: center;font-weight: bold;line-height:45px;font-size:18px;color: #a60512;cursor:pointer;}
.order-submit .button:hover{background-position: -141px -162px;}
.rili_select{margin-top:50px;}

.rili_select{margin:20px 20px 20px 10px;width:440px;border:1px solid #eeeeee;background-color: #FFFFFF;line-height:30px;background-position: -30px -370px;
    cursor: pointer;position: relative;z-index:99;}
.rili_select .itemvalue{margin:0 10px;width:390px;}
.rili_select .itemlist{display: none;position: absolute;top:30px;left:-1px;background: #FFFFFF;width:440px;border:1px solid #eeeeee;border-top:none;height:245px;
    overflow-x: auto;}
.rili_select .itemlist li{line-height:30px;border-bottom: 1px double #eeeeee;text-indent: 10px;cursor: pointer}
.rili_select .price{color:#ff0000;display: inline-block;margin:0 5px;font-size:12px;}
.rili_select .itemlist li:hover{background: #eeeeee;}

/*分享打印*/
.wx{float:left;}
.bdsharebuttonbox{float:left;margin-left:10px;margin-top:20px;}
.print{float:left;margin-left:10px;width:300px;margin-top:10px;}
.print a{display:block;float:left;width:90px;height:57px;background-color:#eeeeee;margin-right:5px;line-height:57px;font-size:16px;padding-left:55px;}
.pr{background-position: 10px -218px;}
.pr:hover{background-color: #FF6600;background-position: -146px -218px;color:#FFFFFF!important;}
.down{background-position: 10px -288px;}
.down:hover{background-color: #FF6600;background-position: -146px -288px;color:#FFFFFF!important;}

.line-text1{line-height:24px;margin-top:20px;}
.line-text1 h3{color:red;font-weight: bold;font-size:16px;border-bottom:1px dotted #CCCCCC;line-height: 30px;margin:0 20px;}
.line-text1 .txt{margin:20px;}


.line-content{margin-top:20px;}

#lineroute,#lineprice,#lineinfo{overflow: hidden;_zoom:1;padding:50px 0 0 0;}

/*行程列表*/
.fixed{position: fixed;top:70px;background: #ffffff;width:1000px;}
.line-route{margin:50px 0 0 0;}
.line-route td{ vertical-align: top;}
.day_ico{background: url(/static/img/line02.gif) repeat-y top center;}
.day_ico2{background: url(/static/img/line03.gif)  no-repeat top center;height:15px;}

.day_ico .d{width:34px;height:41px;background-position: -437px -107px;text-align: center;line-height:36px;color:#ffffff;font-weight: bold;font-size:14px;}
.desc{margin-left:20px;}
.desc .tit{font-size:16px;font-weight: bold;margin-bottom:10px;line-height: 40px;}
.catering,.hotel{background-color: #F5F5F7;line-height:22px;text-indent: 30px;height:22px;display:inline-block;}
.catering{background-position: -411px -161px;margin:15px 15px 0 15px;}
.hotel{background-position: -411px -201px;margin:10px 15px 0 15px;}
.catering em,.hotel em{margin-right:20px;font-weight: bold;}
.desc .icl-bj{display:inline-block;float:right;background-position: -456px -244px;width:22px;height:22px;}
.desc .text{margin-top:30px;margin-bottom:30px;line-height: 20px;}
.day{margin-top:10px;font-weight: bold;text-align: right;width:50px;font-size:14px;}
.desc .img a{margin-right:10px;display:inline-block;overflow:hidden;margin-bottom:10px;}
#tbox {font-size:12px;width:62px; height:252px; position:fixed;
    _position:absolute;
    _bottom:auto;
    _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginBottom,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
    _margin-bottom:10px; bottom:20px; left:50%; margin-left:546px; text-align:center; z-index:1000000;}
#tbox li{width:60px;height:60px;background-color: #AEA6A0;background-image:url(/static/img/icoline.png);margin-bottom:1px;position: relative;}
#tbox li:hover{background-color: #FF6600;}
#tbox li a{display: block;color:#ffffff;padding-top:40px;text-decoration: none;}
#tbox .top{background-position: -290px -225px;}
#tbox .tel{background-position: -290px -282px;}
#tbox .qq{background-position: -290px -345px;}
.qq_list{width:100px;height:200px;position: absolute;
    right:62px;background: #ffffff;border:2px solid #EEEEEE;
    top:0;
}

/* zoombox */
.zoombox{width:513px;height:360px;position: relative;}
.zoompic{border:solid 1px #dfdfdf;width:511px;height:360px;background:url(/static/img/loading.gif) no-repeat 50% 50%;}
.sliderbox{height:65px;position: absolute;bottom:0;background:#F4F4F4;padding:3px 0 0 0;width:514px;
    background:rgba(0, 0, 0, 0.6) none repeat scroll 0 0 !important;
    filter:Alpha(opacity=80); background:#fff;
}
.sliderbox .arrow-btn{width:20px;height:62px;background:url(/static/img/arrow-btn.png) no-repeat;cursor:pointer;}
.sliderbox #btn-left{float:left;margin-left:2px;background-position:-10px -9px;}
.sliderbox #btn-left.dasabled{background-position:-10px -85px;}
.sliderbox #btn-right{float:right;margin-right:2px;background-position:-45px -8px;}
.sliderbox #btn-right.dasabled{background-position:-45px -83px;}
.sliderbox .slider{float:left;height:76px;width:466px;position:relative;overflow:hidden;margin:0 0 0 3px;display:inline;}
.sliderbox .slider ul{position:absolute;left:0;width:999em;}
.sliderbox .slider li{float:left;width:93px;height:60px;text-align:center;}
.sliderbox .slider li img{border:solid 1px #dfdfdf;width:85px;height:60px;}
.sliderbox .slider li.currents img{border:solid 1px #FF6600;}

.order-static{width:900px;margin:30px auto;background:url(/static/img/order-static.png) no-repeat left;height:90px;position: relative;}
.order-static .up,.order-static .downs{position: absolute;left:0px;height:30px;margin:0;}
.order-static .up{top:0;font-weight: bold;}
.order-static .downs{bottom:0;font-size:12px;color:#0000FF}
.order-static .up li,.order-static .downs li{float:left;width:220px;height:30px;text-align: center;line-height:30px;}
.or_st1{background-position:0 30px;}
.or_st2{background-position:0 -46px;}
.or_st3{background-position:0 -122px;}
.or_st4{background-position:0 -200px;}