@import url("common.css");
body{background:#eee;  }
/* icon */
.icon{
    display:inline-block; width:20px; height:20px; background:url(/static/img/icofac.png) no-repeat;
}

.iLocation{
    background-position:0 -40px;
}

.iMsg {
    background-position:-20px -60px;
}

.iArrow {
    background-position:-40px -60px;
}

.iHot0{
    width:40px;height:40px;
    background:none;
}

.iHot1{
    width:40px;height:40px;
    background-position:-60px -40px;
}
.iHot2{
    width:40px;height:40px;
    background:none;
}


/* header    *********************/

#Header{
    background:#333; color:#999; height:80px;
}

#Header a{
    color:#ccc;
}
#Header a:hover{
    color:#f60;
}

#TopNav{
    position:absolute; z-index:991;
    right:0;
    height:30px; line-height:30px;

}
#TopNav .fl .iLocation{
    margin:0 0 -4px 15px;
}
#TopNav .fl b{
    margin:0 5px 0 5px;
}

#TopNav .fr{
    position:relative; margin-right:15px; padding: 0 10px;
}
#TopNav .msg{height:30px;}
#TopNav .msg div{
    display:none;
    position:absolute; right:0; top:30px; padding:8px 15px;
    min-width:230px; min-height:200px;
    background:#fff; border:1px solid #ddd; border-top:none;
    box-shadow:rgba(0,0,0,0.1) 2px 2px 2px;
}
#TopNav .msg .icon{
    margin:0 0 -5px 0;
    transition:all 0.5s ease 0.2s;
    -moz-transition:all 0.5s ease 0.2s; /* Firefox 4 */
    -webkit-transition:all 0.5s ease 0.2s; /* Safari 和 Chrome */
    -o-transition:all 0.5s ease 0.2s; /* Opera */
}
#TopNav .msg span {
    color:#f60;
}
#TopNav .msg:hover{
    background:#fff; color:#333;
}
#TopNav .msg:hover .iArrow{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); 	/* Opera */
}
#TopNav .msg:hover div{
    display:block;
}

/**/
#TopNav .msg div ul{
    border-bottom:1px dotted #ddd; padding:5px 0;
}
#TopNav .msg div ul li{
    height:24px; line-height:24px;
}
#TopNav .msg div ul li.tit{
    height:14px; line-height:14px; border-left:2px solid #f60;
    padding-left:5px; margin:10px 0;
}
#TopNav .msg div a{
    color:#666;
}
#TopNav .msg div a:hover{
    color:#f60;
}

/* menu */
#Header .fixed{position:fixed;}

#Menu,#line_Menu{
    position:relative; z-index:99; left:0; top:0;
    width:100%;height:70px;
    background-color:#333;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
#Menu{height:80px;}

.Menu_list{position: absolute;left:160px;bottom:0;}
#Menu .Menu_list a{
    float:left;display:block; text-align:center;
    border-top:5px solid #333; padding:0 35px; height:65px;
    font-size:14px;
    *width:60px;
}
#Menu .Menu_list  a:hover {
    color:#fff;
}
#Menu .Menu_list  a .icon{
    display:block; width:30px; height:38px; margin:0 auto;
    transition:all 0.5s ease 0.2s;
}

#Menu a.logo,#line_Menu a.logo {
    position:absolute; left:15px; top:15px;
    border:none;
    width:85px; height:0; padding:36px 0 0; overflow:hidden;
}



#Menu .Menu_list .active .icon,
#Menu .Menu_list .active:hover .icon,
#Menu .Menu_list a:hover .icon{
    background-position-y:0;
}
#Menu .Menu_list .active,
#Menu .Menu_list .active:hover{
    border-color:#f60;
    background-color:#fff; color:#000;
    
}

#Menu .i1{background-position:-165px -40px;}
#Menu .i2{background-position:-205px -40px;}
#Menu .i3{background-position:-245px -40px;}
#Menu .i4{background-position:-285px -40px;}
#Menu .i5{background-position:-325px -40px;}
#Menu .i6{background-position:-365px -40px;}
#Menu .i7{background-position:-410px -40px;}
#Menu .i8{background-position:-455px -40px;}
#Menu .i9{background-position:-498px -40px;}
#Menu .i10{background-position:-538px -40px;}
#Menu .i11{background-position:-583px -40px;}
#Menu .i12{background-position:-630px -40px;}
#Menu .i13{background-position:-675px -40px;}
#Menu .i14{background-position:-725px -40px;}
#Menu .i15{background-position:-778px -40px;}



#Menu .iTel,#line_Menu .iTel{
    position:absolute; right:30px; bottom:5px;
    width:145px;height:0;padding:40px 0 0;overflow:hidden;background-position:0 -80px;
}

/* Bodyer
    ***********************/
#Bodyer{
    position:relative;
}

#Bodyer .fixed{
    position:fixed; top:80px;
}

/* leftNav
    *****************************/
#LeftNav{
    position:absolute; left:0; top:0; bottom:0;
    width:130px; background:#eee; z-index:99;
}

#LeftNav li{
    border-top:1px solid #fff; border-bottom:1px solid #ddd;
}

#LeftNav a{
    position:relative; display: block; height:42px; line-height:42px;
    font-size:14px; padding:0 15px;
}
#LeftNav a .iArrow{
    position:absolute; right:8px; top:11px;
    transition:all 0.5s ease 0.2s;
}

#LeftNav div {
    display:none; background:#f7f7f7; border-top:1px solid #fff;
}

#LeftNav div a{
    display: block; height:36px; line-height:36px;
    text-align:right; border-left:2px solid #eee;
    font-size:12px;
}

#LeftNav li.active .iArrow{
    background-position:-40px -40px;
}

#LeftNav a.active{
    background:#fff; border-color:#f60; color:#333;
}

/* Main
    *****************************/
#Main{
    margin-left:130px; padding:10px 30px 30px 30px; min-height:500px;
    background:#fff;
}

/**/
h2.tit{
    position:relative;padding:0 0 8px;border-bottom:2px solid #aaa;
    font-size:16px;
}
h2.tit a{
    position:absolute;right:0;font-size:12px;
}

/**/
#AddressList{
    position:relative;height:35px;
}
#AddressList li{
    float:left;display:block;height:35px;line-height:35px;padding:0 10px;
}
#AddressList li.sel{
    color:#f60;border:3px solid #fff;border-top-color:#f60;margin-top:-3px;
}
#AddressList li.sel a{color:#f60;font-weight:bold;}

/* FilterSearch
    ************************/
#FilterSearch {
     border-bottom:1px solid #fff;
}
#FilterSearch span.tit,#FilterSearch label{
    display:inline-block; height:26px; line-height:26px;
}
#FilterSearch span.tit{
    left:0;top:0;width:60px;
}
#FilterSearch label{
    float:left; cursor:pointer;
    padding:0 8px; margin:0 5px 5px 0; background:#f60; color:#fff;
}
#FilterSearch label b{
    margin-left:8px; color:#fc0; font-weight:normal;
}
#FilterSearch label:hover{
    border-color:#f60; color:#fff; background:#f60;
}
#FilterSearch label:hover b{
    color:#fff;
}
#FilterSearch label b.tit{
    margin:0;
}



/*标题选择卡*/
#FilterList .title-tab,.FilterList .title-tab{border-bottom:3px solid #FF6600;position:relative;overflow: hidden;_zoom:1;padding:10px 0 0 0;min-width:950px;}
#FilterList .title-tab .tit,.FilterList .title-tab .tit{display:none;}
#FilterList .title-tab a,.FilterList .title-tab a {
    display:inline-block;line-height:1.4;padding:5px 25px;border:1px solid #ccc;border-bottom:none;
    background-image:-webkit-linear-gradient(top,#fff 0,#f5f5f5 100%);
    background-image:linear-gradient(to bottom,#fff 0,#f5f5f5 100%);
    background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0); filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
    text-align:center;font-size:14px;cursor:pointer;*float:left;*height:19px;_height:10px;height:18px\9;_width:71px;white-space:nowrap;
	margin:0 2px 0 0;
}

#FilterList .title-tab .hover,.FilterList .title-tab .hover{
	border-color:#FF6600; background:#FF6600; background-image:-webkit-linear-gradient(top,#FF8635 0,#FF6600 100%); background-image:linear-gradient(to bottom,#FF8635 0,#FF6600 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0084db', endColorstr='#ff004abe', GradientType=0); color:#fff;}
 .title-tab .cur { border-color:#FF6600; background:#FF6600; background-image:-webkit-linear-gradient(top,#FF8635 0,#FF6600 100%); background-image:linear-gradient(to bottom,#FF8635 0,#FF6600 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0084db', endColorstr='#ff004abe', GradientType=0); color:#fff; }
 .title-tab .cur:hover { border-color:#FF6600; background-color:#FF6600; }
 .title-tab .cur a { color:#fff; }
 .title-tab .fr{position:absolute;right:5px;bottom:-2px;z-index:999;}
.tab-pane li{display:none;}




/* FilterList
    *********************************************/
#FilterList{
    margin-top:10px; overflow:auto;
}
#FilterList li{
    position:relative;padding:10px 0 5px 70px;line-height:22px;
    border-bottom:1px dotted #ddd; overflow:hidden;_zoom:1;clear:both;
}
#FilterList #FilterSearch{border-bottom:none;}
#FilterList li span.tit {
    position:absolute;left:0;top:10px;
    display:block; width:60px; height:22px;
    color:#999; text-align:right;
}

#FilterList li a{
    position:relative;
    float:left; display:block; padding:0 5px; margin:0 5px 5px 0;
    
}


#FilterList li a:hover{
    background:#f60; color:#fff;
}

#FilterList li a.active{
    background:#eee; color:#999;
}



/*travelLines*/
#FilterList .travelLines{
    padding:0; border:none;
}
#FilterList .travelLines a{
    min-width:110px; height:36px; line-height:36px; text-align:center; margin:0 5px 5px 0;
    background-color:#f7f7f7; border:1px solid #e6e6e6; border-left:none; border-top:none;
}

#FilterList .travelLines a:hover,#FilterList .travelLines .hover{
 background-color:#f60; color:#fff;
}
#FilterList .travelLines a:hover .iHot{
    background-position:-100px -40px;
}

#FilterList .travelLines .icon{
    position:absolute;left:0;top:0;
}



/**/
#FilterList .img a{
    display: block;
    padding:5px 0 1px 90px; background-color:#f5f5f5;
    width:90px; height:50px;
}
#FilterList .img a img{
    position:absolute;left:1px; top:1px;
}

/*FilterForm*/
#FilterForm{
    overflow:auto; color:#666; background:#eee; margin-top:0px; padding:0 15px;
}
#FilterForm li {
    float:left; margin-right:30px; padding:12px 0;
}
#FilterForm li .input-prepend{float:none;}

/* Pager
    *********************************/
#Pager{
    font-size:14px;text-align:center; margin:30px 0;
}

#Pager label{display:inline;}
#Pager a{
    display:inline-block; width:32px; height:32px; line-height:32px; text-align:center;
    border:1px solid #ddd; margin-right:5px;
}
#Pager a.prev,
#Pager a.next{
    width:70px;
}

#Pager a:hover{
    background:#eee; color:#333;
}

#Pager a.active,
#Pager input.btn:hover{
    background-color:#f60; border-color:#f60; color:#fff;
}

#Pager span{margin-left:40px;}
#Pager input.num{width:30px;margin:0 8px; text-align:center;}
#Pager input.btn{width:80px;margin-left:40px;background:#eee; cursor:pointer;}


/*选项卡*/
.M_title{background:#FAFAFA;position:relative;height:40px;border-bottom:2px solid #F4F4F4}
.M_title .tit{line-height:40px;font-size:16px; text-indent:10px;color:#F00;width:200px;margin-left:155px;}
.Page_option{overflow:hidden;_zoom:1;position:absolute;bottom:-2px;right:30px;}
.Page_button{overflow:hidden;_zoom:1;position:absolute;bottom:2px;right:30px;}
.Page_option li{float:left;line-height:30px;height:30px;border:#f3f3f3 1px solid;border-bottom:none;padding:0 10px 0 10px;margin-left:5px;}
.Page_option li a{color:#000!important;display: block}
.Page_option .current{background:#FFF;}
.Page_option .current a{color:#EE9611!important;}


/*操作下拉菜单*/


/*操作大厅*/
.i_memo{overflow:hidden;_zoom:1;margin-top:12px;}
.i_head{float:left;border:#f4f4f4 1px solid;padding:5px;}
.i_head img{width:120px;}
.i_r{float:left;margin-left:20px;}
.i_r span{line-height:24px;}
.i_r dl{line-height:24px;height:24px;}
.i_r dt,.i_r dd{float:left;height:20px;line-height:20px;}
.i_r dd{margin-right:15px;}
.i_r dd span{line-height:normal;line-height:20px;}
.i_name{font-size:16px;font-weight:bold;color:#005ea7;display:block;}
.i_name em{font-size:12px;font-weight:normal;color:#000;padding-left:10px;}


/*站点列表*/
.SiteList{overflow: hidden;_zoom:1;padding:10px 0px 0 0px;background: #FFFFFF;width:100%;}
.SiteList .ma{margin-left:130px;padding-left:30px;}
.SiteList .box{padding:10px 0 0 0;}
.SiteList h6{width:80px;text-align: center;background-color: #000000;color: #FFFFFF;line-height: 30px;margin-right:1px;}
.SiteList .tit{border-bottom:2px solid #000000;overflow:hidden;_zoom:1;}
.SiteList .tit .cur{
     display:inline-block;
     line-height:1.4;
     padding:5px 25px;
     border:1px solid #000;
     border-bottom:none;
     background:#000;
     background-image:-webkit-linear-gradient(top, #616161 0, #222222 100%);
     background-image:linear-gradient(to bottom, #595959 0, #1e1e1e 100%);
     background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0); filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
     text-align:center;
     font-size:14px;
     cursor:pointer;
     *float:left;
     *height:19px;
     _height:10px;
     height:19px\9;
     _width:71px;
     white-space:nowrap;
     color:#FFFFFF!important;
 }
.SiteList .tit a{
    display:inline-block;
    line-height:1.4;
    padding:5px 25px;
    border:1px solid #ccc;
    border-bottom:none;
    background-image:-webkit-linear-gradient(top, #fcfcfc 0, #d1d1d1 100%);
    background-image:linear-gradient(to bottom, #f9f9f9 0, #d2d2d2 100%);
    background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0); filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
    text-align:center;
    font-size:14px;
    cursor:pointer;
    *float:left;
    *height:19px;
    _height:10px;
    height:19px\9;
    _width:71px;
    white-space:nowrap;
    margin-right:1px;
}
.SiteList .tit .cur:hover{background: #4b4b4b}
.SiteList .tit a:hover{background: #f8f8f8}
.SiteList .SiteCf{overflow: hidden;_zoom:1;margin-bottom:10px;}
.SiteList .SiteCf dl{border-bottom:2px solid #F4F4F4;height:30px;line-height: 30px;}
.SiteList .SiteCf dl dd{float:left;position: relative;font-size:14px;line-height: 24px;height:24px;width:80px; cursor: pointer;display:none;}
.SiteList .SiteCf dl dd a{display: block;width:80px;position:absolute;bottom:-6px;left:0;text-align:center;line-height:30px;height:30px;}
.SiteList .SiteCf dl dd .on{border-bottom: 2px solid red;}

.Column{overflow: hidden;_zoom:1;}
/* FilterList
    *********************************************/
#ButtonBox{
    margin-top:10px; overflow:auto;
}
#ButtonBox li{
    position:relative;padding:10px 0 5px 70px;line-height:22px;
    border-bottom:1px dotted #ddd; overflow:auto;
}
#ButtonBox li a{
    position:relative;
    float:left; display:none; padding:0 5px; margin:0 5px 5px 0;
}
#ButtonBox li a:hover {
    background:#f60; color:#fff;
}
#ButtonBox li a.active{
    background:#eee; color:#999;
}
/*travelLines*/
#ButtonBox .travelLines{
    padding:0; border:none;
}
#ButtonBox .travelLines a{
    min-width:120px; height:36px; line-height:36px; text-align:center; margin:0 5px 5px 0;
    background-color:#f7f7f7; border:1px solid #e6e6e6; border-left:none; border-top:none;
	
}
#ButtonBox .travelLines a:hover {
    background-color:#f60; color:#fff;
}
#ButtonBox .travelLines a:hover .iHot2,#ButtonBox .travelLines .hover .iHot2{
    background-images:none;
}
#ButtonBox .travelLines a:hover .iHot0,#ButtonBox .travelLines .hover .iHot0{
    background-images:none;
}
#ButtonBox .travelLines a:hover .iHot1,#ButtonBox .travelLines .hover .iHot1{
    background-position:-100px -40px;
}
#ButtonBox .travelLines .icon{
    position:absolute;left:0;top:0;
}



/*添加接送地*/
.road_box{background: #F4F4F4;padding:10px;margin-top:10px;overflow: hidden;_zoom:1;}
.road_box span{display: block;color:red;line-height:24px;font-size:12px!important;float:none!important;}
.road_box div{overflow:hidden;_zoom:1;}
.road_box div a{
    display: block;padding:5px 10px 5px 10px;
    background: #0061de;
    width:50px;
    float:left;
    margin-right:5px;
    border-radius: 4px;
    color:#FFFFFF;
    text-align: center;
}
.title_form{width:100%;border-bottom: 2px solid #b6baba;line-height: 30px;font-size:16px;color: #ff653a;margin-bottom:10px;position: relative; text-indent: 5px;}
.title_form .fr{position: absolute;bottom:5px;right:10px;}






/*行程*/
#RoteList{display:none;}
#RoteList table
{
    border-collapse: collapse;
    border: none;
    margin-bottom:10px;
    height:107px;
}
#RoteList table  td,#RoteList table th
{
    border: solid #eeeeee 1px;
    padding:5px;
    line-height: 30px;
}
#RoteList  .day{text-align:center;background:#F9603A;color:#fff;line-height:30px;}
#RoteList table  td label{padding-right:15px;}
#RoteList label{float:left;}
.c{text-align: center;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}.w70{width:70px;}
.w80{width:80px;}
.w100{width:100px;}
.w150{width:150px;}
.w200{width:200px;}
.w300{width:300px;}
.w500{width:500px;}
.w120{width:120px;}
.w600{width:600px;margin-right:5px;}
.l10{padding-left:20px;}
.m5{margin-right:5px;}
.m3{margin-right:5px;}
.m10{margin-right:5px;}

/*trigger*/
.target_box{width:300px; padding:10px; border:1px solid #aaa; background-color:#fff;-moz-box-shadow:1px 1px 3px rgba(0,0,0,.4); -webkit-box-shadow:1px 1px 3px rgba(0,0,0,.4); box-shadow:1px 1px 3px rgba(0,0,0,.4);}
.target_list{padding:4px; overflow:hidden; _zoom:1;}
.target_list a{text-decoration:none;color:#333; text-align:center; }
.target_list .a1 a,.target_list .a2 a{line-height:20px; margin-right:5px; padding:1px;float:left;}
.a1 a{width:22px;}
.target_list .a1 a:hover,.target_list .a2 a:hover,.target_list .hover{ color:#FFFFFF;background:#000}
.s_name{overflow:hidden;_zoom:1;line-height:24px;}
.s_name .h1{font-size:14px;font-weight:bold;}
.s_name .h2{margin-left:10px;}

/*接送地开关*/
.jsd{line-height: 24px; margin-bottom: 5px;}
.jsd .jsd_h1{float: left;font-size: 14px;width: 100px;}
#js_switch{background-image: url(/static/img/js_switch.jpg);width: 120px;height: 26px;cursor: pointer;float: left;margin-right:20px;}
#js_switch span{display: inline-block;width: 56px;height: 26px;margin:0;padding:0;}
.off{background-position: 0px -33px;}
.on{background-position: 0 0;}
.zd_selected{float: left;}
.zd_selected a{display: block;float:left;line-height:24px;padding:0 5px 0 5px;margin-right: 5px;cursor: pointer;background: #FFFFFF;color: #666 !important;border:1px solid #F4F4F4;font-weight: normal;}
.zd_selected a:hover{color:#000000!important;border:1px solid #7d8289}


/*图片列表*/
.photo-list{overflow: hidden;_zoom:1;}
.photo-list dl{width: 212px; float: left;margin: 10px 0 10px 10px;overflow: hidden;_zoom:1;}
.photo-list dd,.photo-list dt{margin:0;padding:0;}
.photo-list dl dd{width:210px;height:128px;border:#CCC 1px solid;background: #f9f9f9;overflow:hidden;position:relative;}
		.photo-list dl dd div{position:absolute;line-height:24px;text-align:right;bottom:0;font-size:12px;
		background:rgba(0,0,0,0.2) none repeat scroll !important; /*实现FF背景透明，文字不透明*/
		background:#000; filter:Alpha(opacity=20);/*实现IE背景透明*/ 
		}
		.photo-list dl dd div a{display:inline-block;height:24px;text-align:right;padding-right:20px;color:#000!important;position:relative}
.photo-list dl dd a{display: block;width:210px;height:128px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    *display: block;
    *font-size: 111px;
    *font-family:Arial;}
.photo-list dl dd img{width:210px;}
.photo-list dl dt{font-weight: normal;line-height: 24px;height:24px;font-size: 12px;width:210px;overflow: hidden;word-break:keep-all;word-spacing:normal;text-overflow: ellipsis;}

/*线路图片展示*/
.xc-photo{position: relative;margin-top:2px;}
.xc-photo ul{padding:5px 0 5px 0;}
.xc-photo .xc-photo-list{overflow: hidden;position: absolute;display: block;max-height: 50px; cursor: pointer;width:188px;}
.xc-photo .xc-photo-list:hover{background: #F4F4F4;max-height: 320px;}
.xc-photo li{float:left;margin:3px 6px 2px 6px;height:50px;width:50px;}
.xc-photo li img{width:50px;height:50px;}


#line_head{width:100%; position:fixed; top:0;_position:relative; z-index:100; _top:expression(offsetParent.scrollTop+0);}

.line_main{width:85%;margin:0 auto;background: #FFFFFF;padding:20px;
    border: 1px solid #ccc;
    border-width: 0 1px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    margin-top:72px;
}
.Menu_list li{float: left;}

.Menu_list .current{
    float:left;display:block; text-align:center;
    border-top:5px solid #333;height:65px;
    font-size:14px;
    *width:60px;
    border-color:#f60;
    background-color:#fff; color:#111;
}


.Menu_list{position: absolute;left:160px;}
#line_Menu li{
    float:left;display:block; text-align:center;
    border-top:5px solid #333;width:130px;
}
#line_Menu a{color:#999!important;display:block;padding:0 35px; height:65px;
    font-size:14px;}
#line_Menu a:hover {
    color:#FFFFFF;
}
#line_Menu a .icon{
    display:block; width:30px; height:38px; margin:0 auto;
    transition:all 0.5s ease 0.2s;
}


#line_Menu .i1{background-position:-165px -40px;}
#line_Menu .i2{background-position:-205px -40px;}
#line_Menu .i3{background-position:-245px -40px;}
#line_Menu .i4{background-position:-285px -40px;}
#line_Menu .i5{background-position:-325px -40px;}

#line_Menu .current .icon,
#line_Menu .current:hover .icon,
#line_Menu li:hover .icon{
    background-position-y:0;
}
#line_Menu .current,
#line_Menu .current:hover{
    border-color:#f60;
    background-color:#fff; color:#111;
}



.order-table th{width:10%;background: #fcfcfc}
.order-table td{width:40%;font-size:12px!important;}
.order-table span{padding:0 5px;font-weight: bold;font-size: 16px}
.div_table{border: 1px solid #F4F4F4;border-right:none;width:468px;}
.order-table2 th{width:100px;background: #fcfcfc;font-weight: normal;color:#000000;vertical-align:middle}
.order-table2 td{font-size:12px!important;}
.order-table2 .order_h1{font-size:16px!important;line-height: 40px;color: #0e0212}
.order-table2 b{color:red;}
.order-table2 span{display: inline-block;margin-right:10px;}

.order-input{width:100%;margin:0 auto;padding:20px 0 ;text-align: center;}
.order-input input{margin:0 10px 0 10px;}

.div_table dl{height: 30px;margin:0;padding:0;border-top:1px solid #F4F4F4;width:469px;overflow: hidden;_zoom:1;}
.div_table dd,.div_table dt{border-right:1px solid #F4F4F4;float:left;text-align: center;margin:0;padding:0;height:30px;line-height: 30px;}
.div_table dt{width:80px;font-size:12px!important;}
.div_table dd{width:15px;}

#top_Menu{
    width:100%;
    overflow: hidden;
    _zoom:1;
    background-color:#333;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
#top_Menu .logo{
    float:left;margin-top:10px;margin-left:40px;
    border:none;
    width:85px; height:36px; padding:px 0 0; overflow:hidden;
}
#top_Menu .m_title{
    width:60%;
    float:left;
    margin:15px 20px 10px 50px;color: #FFFFFF;
    font-size:18px;font-weight: bold;

}
#top_Menu .input{margin:10px 20px 10px 10px;}


/*出港地专线*/
.cf-column div{display:none;}
.cf-column dl{overflow:hidden;_zoom:1;margin:10px 0;}
.cf-column dt{height:40px;line-height: 40px;border-bottom: 2px solid #999;color:#000000}
.cf-column dt .fl{font-size:14px;}
.cf-column dd{padding:5px 0;margin:0;}




.title-tabl{border-bottom:3px solid #FF6600;position:relative;overflow: hidden;_zoom:1;}
.title-tabl .tab { display:block; }
.title-tabl .tab li {
    display:inline-block;line-height:1.4;padding:5px 25px;border:1px solid #ccc;border-bottom:none;
    background-image:-webkit-linear-gradient(top,#fff 0,#f5f5f5 100%);
    background-image:linear-gradient(to bottom,#fff 0,#f5f5f5 100%);
    background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0); filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
    text-align:center;font-size:14px;cursor:pointer;*float:left;*height:19px;_height:10px;height:18px\9;_width:71px;white-space:nowrap;
	margin-right:2px;
}
.title-tabl .tab li:hover { background-color:#f5f5f5; background-position:0 -40px; }
.title-tabl .tab li.cur { border-color:#FF6600; background:#FF6600; background-image:-webkit-linear-gradient(top,#FF8635 0,#FF6600 100%); background-image:linear-gradient(to bottom,#FF8635 0,#FF6600 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0084db', endColorstr='#ff004abe', GradientType=0); color:#fff; }
.title-tabl .tab li.cur:hover { border-color:#FF6600; background-color:#FF6600; }
.title-tabl .tab li.cur a { color:#fff; }
.title-tabl .fr{position:absolute;right:5px;bottom:-2px;z-index:999;}