body{font-size:12px;padding:0;margin:0 0 20px;}
dl,dd,dt{padding:0;margin:0;list-style: none;font-size:12px;}
.J_imageView2
{
    margin:0;padding:0;
    overflow: hidden;
    _zoom:1;
}
.J_imageView2 dl
{
    width: 210px;
    float: left;
    margin: 10px;
}

.J_imageView2 dl dd
{
    display: block;
    width: 200px;
    height: 128px;
    background: #FFFFFF;
    padding:2px;
    border: 2px solid #333;
    position: relative;
}

.J_imageView2 dl a
{
    display: block;
}

.J_imageView2 dl dd div{
    position: absolute;top:0;left:0;
    display: none;
    width:10px;
    border-right: 2px #FF6600 solid;
    border-bottom: 2px #FF6600 solid;
    border-left: 1px #FF6600 solid;
    border-top: 1px #FF6600 solid;
    width:20px;height:20px;
    background: #fff;
    cursor: pointer;
}

.J_imageView2 dl .click,.J_imageView2 dl .mover
{
    border: 2px solid #FF6600;
    background: #FF6600;
}
.J_imageView2 .click div{background:url(/static/img/ti.png) #FF6600;display: block;}

.J_imageView2 dl dt
{
    text-align: left;
    margin-top: 2px;
    line-height:20px;
    height:20px;
}
.J_imageView2 dl dt b{margin-right: 10px;}
.J_imageView2 dl dd img
{
    width: 200px;
    height: 128px;
}



.list-tab { display:block; border-bottom:3px solid #FF6600; margin-bottom:10px;}

.list-tab li {
    display:inline-block;
    line-height:1.4;
    padding:5px 20px;
    border:1px solid #ccc;
    border-bottom:none;
    background-image:-webkit-linear-gradient(top,#fff 0,#f5f5f5 100%);
    background-image:linear-gradient(to bottom,#fff 0,#f5f5f5 100%);
    background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0); filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
    text-align:center;
    font-size:14px;
    cursor:pointer;
    *float:left;*height:19px;_height:10px;height:19px\9;_width:71px;white-space:nowrap;
}


.list-tab li:hover { background-color:#f5f5f5; background-position:0 -40px; }
.list-tab li.cur { border-color:#FF6600; background:#FF6600; background-image:-webkit-linear-gradient(top,#FF8635 0,#FF6600 100%); background-image:linear-gradient(to bottom,#FF8635 0,#FF6600 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0084db', endColorstr='#ff004abe', GradientType=0); color:#fff; }
.list-tab li.cur:hover { border-color:#FF6600; background-color:#FF6600; }
.list-tab li.cur a { color:#fff; }
