<div class="footer">
  <div class="bar">
    <ul>
      <li>为什么选择左边<i class="i1"></i></li>
      <li><i class="i2"></i>百万品质线路任选</li>
      <li><i class="i3"></i>万家批发商优质服务</li>
      <li><i class="i4"></i>全网性价比最高</li>
      <li><i class="i5"></i>旅游一站式服务</li>
    </ul>
  </div>
  <div class="c link">
    <dl>
    <dt>新手帮助</dt>
    <dd>
		#foreach($help in $!{articleCacheTools.getHelpCenter().keySet()})
			<a href="/help/$!{help}.htm">$!{articleCacheTools.getHelpCenter().get($help)}</a>
		#end
    </dd>
    </dl>
    <dl>
    <dt>组团社问题</dt>
    <dd>
		#foreach($tourIssue in ${articleCacheTools.getTourIssue().keySet()})
			<a href="/tourIssue/$!{tourIssue}.htm">$!{articleCacheTools.getTourIssue().get($tourIssue)}</a>
		#end
    </dd>
    </dl>
    <dl>
    <dt>批发商问题</dt>
    <dd>
		#foreach($accountIssue in ${articleCacheTools.getAccountIssue().keySet()})
			<a href="/accountIssue/$!{accountIssue}.htm">$!{articleCacheTools.getAccountIssue().get($accountIssue)}</a>
		#end
    </dd>
    </dl>
    <dl>
    <dt>订购指南</dt>
    <dd>
		#foreach($orderGuide in ${articleCacheTools.getOrderGuide().keySet()})
			<a href="/orderGuide/$!{orderGuide}.htm">$!{articleCacheTools.getOrderGuide().get($orderGuide)}</a>
		#end
    </dd>
    </dl>
    <dl>
    <dt>关于左边</dt>
    <dd>
		#foreach($about in ${articleCacheTools.getAboutZuobian().keySet()})
			<a href="/about/$!{about}.htm">$!{articleCacheTools.getAboutZuobian().get($about)}</a>
		#end
    </dd>
    </dl>
    <dl class="fr">
      <dt>左边公众账号</dt>
      <span><img src="/static/img/1409/wx.jpg" height="116" /></span>
    </dl>
  </div>
  <div class="copyright">Copyright © 2013 版权所有 左边网. All Rights Reserved.浙ICP备11057101号</div>
</div>
<script src="http://s6.cnzz.com/stat.php?id=5763643&web_id=5763643" language="JavaScript"></script>