<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>左边网-全国最大的旅游同业收客平台,专业组团，同业分销,机票预定,景点门票,积分兑换</title>
<meta name="keywords" content="同业收客,专业组团,自助游,自由行,机票预定,景点门票,积分兑换">
<link href="/static/css/1409/common.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/static/css/1409/style.css">
<script src="/static/js/jquery-1.11.0.min.js" charset="utf-8" type="text/javascript"></script>
<script src="/static/js/jq-zuobian-bundle-0.0.1.js" type="text/javascript"></script>
<script src="/static/js/layer/layer.min.js"></script>
<script src="/static/js/1409/zb.js" type="text/javascript"></script>
</head>
<body>
#parse("/widget/common/index1409_header.vm")
<div id="wrapper">
    <div class="c">
      #parse("/widget/common/index1409_top.vm")
      <div class="right">
        <div class="tit"><h2>商家大全</h2></div>
        <div class="company">
    <div class="Com_title">
    <div class="Com_logo">
      <span class="img"><img src="$!{company.cLogo}" width="150" height="60"/></span>
      <span><h3>$!{company.cName}</h3>
      电话：$!{company.cTel}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;城市：$!{company.cProvince} - $!{company.cCity}</span>

    </div>
    <a href="/company_line/$!{company.cId}.htm" class="linemore">线路展示</a>
    </div>
      <div class="Pcontent">
      <h1>公司介绍</h1>
      <div class="Pcon" >
		<p class="p0" style="text-align:justify;">
			$!{company.cAboutus}
		</p>
	  </div>
<h1>联系方式</h1>
      <div class="Pcon">
		<p class="p0" style="text-align:justify;">
			$!{company.cContact}
		</p>
	  </div>
      </div> 


<!---->


        </div>
      </div>
    </div>
</div>
#parse("/widget/common/index1409_footer.vm")
</body>
</html>