<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>左边网-全国最大的旅游同业收客平台,专业组团，同业分销,机票预定,景点门票,积分兑换</title>
<meta name="keywords" content="同业收客,专业组团,自助游,自由行,机票预定,景点门票,积分兑换">
<link href="/static/css/1409/common.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/static/css/1409/style.css">
<script src="/static/js/jquery-1.11.0.min.js" charset="utf-8" type="text/javascript"></script>
<script src="/static/js/jq-zuobian-bundle-0.0.1.js" type="text/javascript"></script>
<script src="/static/js/1409/zb.js" type="text/javascript"></script>
<script src="/static/js/layer/layer.min.js"></script>
<script src="/static/js/kinMaxShow/jquery.kinMaxShow-1.0.min.js" type="text/javascript"></script>
</head>
<body>
#parse("/widget/common/index1409_header.vm")
  <div id="line" class="c">
    <div class="left">
      <div class="search">
        <div class="tit" style="display:none;">
			<a href="#" class="one hover">周边短线</a><a href="#">国内长线</a><a href="#">国际线路</a>
        <div>
        <span><i class="i1"></i>已订人数：<b>$!{orderGuestCount}人</b></span>
        <span><i class="i2"></i>已有线路：<b>$!{linecount}条</b></span>
        </div>
        </div>
        <div class="search-box">
          <dl>
            <dd>目的地：</dd>
            <dt>
				<a href="/line/showline.htm?lDay=$!{lDay}&lType=$!{lType}" #if(!$!{city} || $!{city}=='') class="hover" #end>全部</a>
				#foreach($citylist in $!citylists)
					<a href="/line/showline.htm?lArrivalCity=$!{citylist}&lDay=$!{lDay}&lType=$!{lType}" #if($!{citylist} == $!{city}) class="hover"#end>$citylist</a>
				#end
			</dt>
          </dl>
          <dl>
            <dd>行程天数：</dd>
            <dt>
				<a href="/line/showline.htm?lArrivalCity=$!{city}&lType=$!{lType}" #if(!$!{lDay} || $!{lDay}=='') class="hover" #end>全部</a>
				#foreach($!day in ${enumViewTools.getAllLineDay()})
					<a href="/line/showline.htm?lArrivalCity=$!{city}&lDay=$!day.value&lType=$!{lType}" #if($!day.value == $!{lDay})class="hover"#end>$!day.name</a>
				#end
			</dt>
          </dl>
          <dl>
            <dd>类型：</dd>
            <dt>
				<a href="/line/showline.htm?lArrivalCity=$!{city}&lDay=$!{lDay}"  #if(!$!{lType} || $!{lType}=='') class="hover" #end>全部</a>
				#foreach($!typeenum in ${enumViewTools.getAllLineType()})
					<a href="/line/showline.htm?lArrivalCity=$!{city}&lDay=$!{lDay}&lType=$!typeenum.value" #if($!typeenum.value == $!{lType})class="hover"#end>$!typeenum.name</a>
				#end
			</dt>
          </dl>                    
        </div>
      </div>
      <div class="search-num">共为您找到<b>$!{searchcount}</b>条线路</div>
      <div class="line-li">
		#foreach($line in $list)
        <div class="item">
				#set($url='/line/' + $!{line.lGroupNumber} + '.htm')
				<div class="img"><a href="$url" target="_blank"><img src="$!line.lPhotoCover" width="160" height="120" /></a></div>
				<dl>
					<dt class="title"><a href="$url" target="_blank">$!line.lTile</a></dt>
					<dt class="desc"><b>$!line.lTypeString</b>$!line.lMode</dt>
					<dt><span>行程天数：<em>$!line.lDay天</em></span></dt>
					<dt class="time">
						<span class="rili"><a href="$url" target="_blank">更多团期</a></span>
					</dt>
				</dl>
				<div class="price">￥<em>$!{format.formatFloat($!line.lJCrPrice)}</em>起</div>
				<a href="$url" target="_blank" class="order">预定</a>
        </div>
		#end
      </div>
	  $widget.setTemplate("pagination/pager").addParam('pagination',$pagination)
    </div>
	 
    <div class="right">
      <div class="r-column">
        <div class="tit">周边短线</div>
        <div class="list">
         <a href="/search/productSearch.htm?tn=line&keyword=&zId=89">温泉专线</a>
		  <a href="/search/productSearch.htm?tn=line&keyword=&zId=135">滑雪专线</a>
        </div>
      </div>

      <div class="rbox">
        <div class="tit"><span>商家推荐</span><a href="/company.htm">更多...</a></div>
        <ul>
            #foreach($companyDO in $!companyDOs)
				<li>
					<a href="/company_view/$!{companyDO.cId}.htm">$!companyDO.cName</a>
					<p>$!companyDO.cAboutus</p>
				</li>
			#end 
        </ul>
    </div>

    </div>
  </div>
#parse("/widget/common/index1409_footer.vm")
</body>
</html>