<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.app.biz.mapper.TravelAdvertisementMapper" >
  	<resultMap id="BaseResultMap" type="com.zb.app.biz.domain.TravelAdvertisementDO" >
	
  		<id 		column="AD_ID" 			property="adId" 			jdbcType="DECIMAL" />
    	<result 	column="GMT_CREATE" 	property="gmtCreate" 		jdbcType="TIMESTAMP" />
    	<result 	column="GMT_MODIFIED" 	property="gmtModified" 		jdbcType="TIMESTAMP" />
    	
   		<result 	column="LOCATION" 		property="location" 		jdbcType="INTEGER" />
    	<result 	column="SITE" 			property="site" 			jdbcType="VARCHAR" />
    	<result 	column="SITE_ID" 		property="siteId" 			jdbcType="DECIMAL" />
    	<result 	column="TITLE" 			property="title" 			jdbcType="VARCHAR" />
    	<result 	column="CONTENT" 		property="content" 			jdbcType="VARCHAR" />
    	<result 	column="PIC" 			property="pic" 				jdbcType="VARCHAR" />
    	<result 	column="LINK" 			property="link" 			jdbcType="VARCHAR" />
    	<result 	column="SORT" 			property="sort" 			jdbcType="INTEGER" />
    	<result 	column="STATE" 			property="state" 			jdbcType="INTEGER" />
  	</resultMap>
  	
  	<sql id="table_columns_without_id">
  		GMT_CREATE,GMT_MODIFIED,LOCATION,SITE,SITE_ID,TITLE,CONTENT,PIC,LINK,SORT,STATE
   	</sql>
  
  	<sql id="columns" >
  		AD_ID,<include refid="table_columns_without_id"/>
  	</sql>
  	
  	<sql id="query_where_clause">
  		<trim prefix="where" prefixOverrides="and|or"> 
  			<if test="t.adId !=null ">  
	            AD_ID = #{t.adId, jdbcType=INTEGER}
	        </if> 
	        <if test="t.location !=null ">  
	            and LOCATION = #{t.location, jdbcType=INTEGER}
	        </if>  
	        <if test="t.site !=null and t.site != '' ">  
	            and SITE = #{t.site, jdbcType=VARCHAR}
	        </if>
	        <if test="t.siteId !=null ">  
	            and SITE_ID = #{t.siteId, jdbcType=INTEGER}
	        </if>
	        <if test="t.title != null and t.title != '' ">  
	            and TITLE = #{t.title, jdbcType=VARCHAR}  
	        </if>  
	        <if test="t.content != null and t.content != '' ">  
	            and CONTENT = #{t.content, jdbcType=VARCHAR}  
	        </if>  
	        <if test="t.pic != null and t.pic != '' ">  
	            and PIC = #{t.pic, jdbcType=VARCHAR}  
	        </if>  
	        <if test="t.link != null and t.link != '' ">  
	            and LINK = #{t.link, jdbcType=VARCHAR}  
	        </if>  
	        <if test="t.sort !=null ">  
	            and SORT = #{t.sort, jdbcType=INTEGER}
	        </if>
	        <if test="t.state !=null ">  
	            and STATE = #{t.state, jdbcType=INTEGER}
	        </if>
	        <if test="startGmtCreate != null and startGmtCreate != '' ">  
	            and <![CDATA[ GMT_CREATE >= to_date(#{startGmtCreate, jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')]]>
	        </if>
	        <if test="endGmtCreate != null and endGmtCreate != '' ">  
	            and <![CDATA[ GMT_CREATE <= to_date(#{endGmtCreate, jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')]]> 
	        </if>
	        <if test="startGmtModified != null and startGmtModified != '' ">  
	            and <![CDATA[ GMT_MODIFIED >= to_date(#{startGmtModified, jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')]]>
	        </if>
	        <if test="endGmtModified != null and endGmtModified != '' ">  
	            and <![CDATA[ GMT_MODIFIED >= to_date(#{endGmtModified, jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')]]>
	        </if>
	        <if test="likeTitle !=null and likeTitle != '' ">
				and TITLE like '%'||#{likeTitle, jdbcType=VARCHAR}||'%'
			</if>
	    </trim> 
  	</sql>
  		
  	<sql id="update_where_clause">
		<trim prefix="where" prefixOverrides="and|or"> 
	        <if test="adId !=null ">  
	            AD_ID = #{adId, jdbcType=INTEGER}
	        </if> 
	        <if test="location !=null ">  
	            and LOCATION = #{location, jdbcType=INTEGER}
	        </if>  
	        <if test="site !=null and site != '' ">  
	            and SITE = #{site, jdbcType=INTEGER}
	        </if>
	        <if test="siteId !=null ">  
	            and SITE_ID = #{siteId, jdbcType=INTEGER}
	        </if>
	        <if test="title != null and title != '' ">  
	            and TITLE = #{title, jdbcType=VARCHAR}  
	        </if>  
	        <if test="content != null and content != '' ">  
	            and CONTENT = #{content, jdbcType=VARCHAR}  
	        </if>  
    	    <if test="pic != null and pic != '' ">  
	            and PIC = #{pic, jdbcType=VARCHAR}  
	        </if>  
	        <if test="link != null and link != '' ">  
	            and LINK = #{link, jdbcType=VARCHAR}  
	        </if>  
	        <if test="sort !=null ">  
	            and SORT = #{sort, jdbcType=INTEGER}
	        </if>
	        <if test="state !=null ">  
	            and STATE = #{state, jdbcType=INTEGER}
	        </if>  
	    </trim>
   	</sql>
  		
  	<sql id="update_set_clause">
  		<trim prefix="set GMT_MODIFIED=SYSTIMESTAMP," suffixOverrides=",">  
	        <if test="location !=null ">  
	            LOCATION = #{location, jdbcType=INTEGER},
	        </if>  
	        <if test="site !=null and site != '' ">  
	            SITE = #{site, jdbcType=INTEGER},
	        </if>
	        <if test="siteId !=null ">  
	            SITE_ID = #{siteId, jdbcType=INTEGER},
	        </if>
	        <if test="title != null and title != '' ">  
	            TITLE = #{title, jdbcType=VARCHAR},
	        </if>  
	        <if test="content != null and content != '' ">  
	            CONTENT = #{content, jdbcType=VARCHAR}, 
	        </if>  
	        <if test="pic != null and pic != '' ">  
	            PIC = #{pic, jdbcType=VARCHAR},
	        </if>  
	        <if test="link != null and link != '' ">  
	            LINK = #{link, jdbcType=VARCHAR}, 
	        </if> 
	        <if test="sort !=null ">  
	            SORT = #{sort, jdbcType=INTEGER},
	        </if>
	        <if test="state !=null ">  
	            STATE = #{state, jdbcType=INTEGER},
	        </if> 
   		</trim>
  	</sql>
  		
  	<sql id="orderby_clause">
        order by GMT_MODIFIED asc
    </sql>
  
   	<select id="list" resultMap="BaseResultMap" parameterType="java.util.Map">
   		<if test="limitSize != null" >
   			<include refid="PAGINATION.paginationStart" />
   		</if>
   		select  <include refid="columns" /> 
   		from TRAVEL_ADVERTISEMENT 
   		<include refid="orderby_clause"/>
	  	<if test="limitSize != null" >
	        <include refid="PAGINATION.paginationEnd" />
	    </if>
  	</select>
  	
  	<select id="listQuery" resultMap="BaseResultMap" parameterType="com.zb.app.biz.query.TravelAdvertisementQuery">
   		select  <include refid="columns" /> 
   		from TRAVEL_ADVERTISEMENT 
   		<include refid="query_where_clause"/>
   		<include refid="orderby_clause"/>
  	</select>
  
  	<select id="listPagination" resultMap="BaseResultMap" parameterType="com.zb.app.biz.query.TravelAdvertisementQuery">
  		<include refid="PAGINATION.paginationStart" />
		select <include refid="columns"/>
		from TRAVEL_ADVERTISEMENT 
		<include refid="query_where_clause"/>
		<include refid="orderby_clause"/>
		<include refid="PAGINATION.paginationEnd" />
  	</select>
  	
  	<select id="find" resultMap="BaseResultMap" parameterType="com.zb.app.biz.query.TravelAdvertisementQuery" >
  		select <include refid="columns"/>
        from TRAVEL_ADVERTISEMENT
        <include refid="query_where_clause"/>
        <include refid="orderby_clause"/>
  	</select>
  
   	<insert id="insert" parameterType="com.zb.app.biz.domain.TravelAdvertisementDO" useGeneratedKeys="true">
   		<selectKey resultType="java.lang.Long" keyProperty="adId" order="BEFORE" >
	      select TRAVEL_ADVERTISEMENT_SEQ.NEXTVAL as adId from DUAL
	   	</selectKey>
	   	insert into TRAVEL_ADVERTISEMENT (<include refid="columns"/>)
	   	values (#{adId},SYSTIMESTAMP,SYSTIMESTAMP, 
	   		#{location,jdbcType=INTEGER},
	   		#{site,jdbcType=VARCHAR},
	   		#{siteId,jdbcType=DECIMAL},
	   		#{title,jdbcType=VARCHAR},
	   		#{content,jdbcType=VARCHAR},
	   		#{pic,jdbcType=VARCHAR},
	   		#{link,jdbcType=VARCHAR},
	   		#{sort,jdbcType=INTEGER},
	   		1
	   	)
   	</insert>
   	
   	<update id="update" parameterType="com.zb.app.biz.domain.TravelAdvertisementDO">
   		update TRAVEL_ADVERTISEMENT 
       	<include refid="update_set_clause"/>
       	<include refid="update_where_clause"/>
  	</update>
  	
  	<select id="count" resultType="java.lang.Integer" parameterType="com.zb.app.biz.query.TravelAdvertisementQuery">
  		select count(1)
        from TRAVEL_ADVERTISEMENT  
       	<include refid="query_where_clause"/>
   	</select>
   	
  	<delete id="deleteById" parameterType="java.lang.Integer">
  		delete from TRAVEL_ADVERTISEMENT where AD_ID = #{id,jdbcType=INTEGER}
  	</delete>
  	
  	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  		select <include refid="columns" /> 
  		from TRAVEL_ADVERTISEMENT 
  		where AD_ID = #{id,jdbcType=INTEGER}
  	</select>
  
   	<update id="updateById" parameterType="com.zb.app.biz.domain.TravelAdvertisementDO">
   		update TRAVEL_ADVERTISEMENT 
   		<include refid="update_set_clause"/>
	    where AD_ID = #{adId,jdbcType=INTEGER}
  	</update>
  	
</mapper>