<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>左边网</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
    <script src="/static/js/jquery-1.11.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jq-zuobian-bundle-0.0.1.js"></script>
    <script src="/static/js/jq-zuobian-init.js"></script>
    <script src="/static/js/layer/layer.min.js"></script>
    <script type="text/javascript" src="/static/js/powerfloat/js/jquery-powerFloat.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/js/kindeditor/kindeditor.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/js/kindeditor/lang/zh_CN.js"></script>
    <script src="/static/js/Validform/js/Validform_v5.3.2.js" type="text/javascript"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/man_site.js"></script>
    <script src="/static/js/city.js"></script>
    <script type="text/javascript">
        $(function(){
                     $.Menu("礼品管理","礼品类别");
                   })
    </script>
</head>
<body>
	#parse("/widget/common/manage_header.vm")
    <div id="Bodyer">
		#parse("/widget/common/manage_nav.vm")
        <div class="M_title">
                    <div class="tit">公司列表</div>
                	<div class="Page_option">
                    	<ul>
                        	<li class="current"><a href="#tabl1" rel="">信息列表</a></li>
                        	<li class="disabled"><a href="javascript:void(0)" onclick="ajaxTemple(this,0)" url="gift_sortadd.htm" title="添加类别" rel="700,300"  rel="">添加类别</a></li>
                        </ul>
                    </div>

        </div>
        <div id="Main">
        <div id="tab1" >
            <div id="FilterList">
            <ul>

            </ul>
            </div>
            <table class="tbl table-striped table-hover tbl" cellpadding="0" cellspacing="0">
                <tr>
                    <th>类别名称</th>
                    <th width="190">操作</th>
                </tr>
                #foreach( $!gClass in $giftClassList )
                <tr>
					<td>$!gClass.gcName</td>
					<td>
						<div class="w120" style="line-height: 26px;">
                   <a href="javascript:void(0)"onclick="ajaxTemple(this,$!gClass.gcId)" url="gift_sortedit.htm" title="修改类别" rel="700,300"  class="btn btn-primary btn-mini"><i class="icon-edit icon-white"></i> 修改</a>
                    <a href="javascript:void(0)" title="删除" onClick="DelList('/zbmanlogin/deleteGiftClass.htm',$!gClass.gcId,this,3);return false"  class="btn btn-mini"><i class="icon-remove"></i> 删除</a>
                    </div>
					</td>
				</tr>
                #end
            </table>
            </div>
        <div id="tab2">
			$widget.setTemplate("pagination/pager").addParam('pagination',$!{siteList.getQuery()})
        </div>
        </div>
    </div>

</body>
</html>
