<?xml version="1.0" encoding="utf-8"?>
<?mso-application progid="Word.Document"?>

<w:wordDocument xmlns:w="http://schemas.microsoft.com/office/word/2003/wordml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:sl="http://schemas.microsoft.com/schemaLibrary/2003/core" xmlns:aml="http://schemas.microsoft.com/aml/2001/core" xmlns:wx="http://schemas.microsoft.com/office/word/2003/auxHint" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882" xmlns:wsp="http://schemas.microsoft.com/office/word/2003/wordml/sp2" w:macrosPresent="no" w:embeddedObjPresent="no" w:ocxPresent="no" xml:space="preserve">
  <w:ignoreElements w:val="http://schemas.microsoft.com/office/word/2003/wordml/sp2"/>
  <o:DocumentProperties>
    <o:Title>$</o:Title>
    <o:Author>WANGZUJUN</o:Author>
    <o:LastAuthor>ZhouZhong</o:LastAuthor>
    <o:Revision>3</o:Revision>
    <o:TotalTime>1</o:TotalTime>
    <o:Created>2014-08-25T03:04:00Z</o:Created>
    <o:LastSaved>2014-08-25T03:15:00Z</o:LastSaved>
    <o:Pages>1</o:Pages>
    <o:Words>85</o:Words>
    <o:Characters>490</o:Characters>
    <o:Lines>4</o:Lines>
    <o:Paragraphs>1</o:Paragraphs>
    <o:CharactersWithSpaces>574</o:CharactersWithSpaces>
    <o:Version>11.0000</o:Version>
  </o:DocumentProperties>
  <w:fonts>
    <w:defaultFonts w:ascii="Calibri" w:fareast="宋体" w:h-ansi="Calibri" w:cs="Times New Roman"/>
    <w:font w:name="宋体">
      <w:altName w:val="SimSun"/>
      <w:panose-1 w:val="02010600030101010101"/>
      <w:charset w:val="86"/>
      <w:family w:val="Auto"/>
      <w:pitch w:val="variable"/>
      <w:sig w:usb-0="00000003" w:usb-1="288F0000" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="00040001" w:csb-1="00000000"/>
    </w:font>
    <w:font w:name="Calibri">
      <w:panose-1 w:val="020F0502020204030204"/>
      <w:charset w:val="00"/>
      <w:family w:val="Swiss"/>
      <w:pitch w:val="variable"/>
      <w:sig w:usb-0="E00002FF" w:usb-1="4000ACFF" w:usb-2="00000001" w:usb-3="00000000" w:csb-0="0000019F" w:csb-1="00000000"/>
    </w:font>
    <w:font w:name="Consolas">
      <w:panose-1 w:val="020B0609020204030204"/>
      <w:charset w:val="00"/>
      <w:family w:val="Modern"/>
      <w:pitch w:val="fixed"/>
      <w:sig w:usb-0="E10002FF" w:usb-1="4000FCFF" w:usb-2="00000009" w:usb-3="00000000" w:csb-0="0000019F" w:csb-1="00000000"/>
    </w:font>
    <w:font w:name="@宋体">
      <w:panose-1 w:val="02010600030101010101"/>
      <w:charset w:val="86"/>
      <w:family w:val="Auto"/>
      <w:pitch w:val="variable"/>
      <w:sig w:usb-0="00000003" w:usb-1="288F0000" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="00040001" w:csb-1="00000000"/>
    </w:font>
  </w:fonts>
  <w:styles>
    <w:versionOfBuiltInStylenames w:val="4"/>
    <w:latentStyles w:defLockedState="off" w:latentStyleCount="156"/>
    <w:style w:type="paragraph" w:default="on" w:styleId="a">
      <w:name w:val="Normal"/>
      <wx:uiName wx:val="正文"/>
      <w:rsid w:val="00C4255B"/>
      <w:pPr>
        <w:widowControl w:val="off"/>
        <w:jc w:val="both"/>
      </w:pPr>
      <w:rPr>
        <wx:font wx:val="Calibri"/>
        <w:kern w:val="2"/>
        <w:sz w:val="21"/>
        <w:sz-cs w:val="22"/>
        <w:lang w:val="EN-US" w:fareast="ZH-CN" w:bidi="AR-SA"/>
      </w:rPr>
    </w:style>
    <w:style w:type="character" w:default="on" w:styleId="a0">
      <w:name w:val="Default Paragraph Font"/>
      <wx:uiName wx:val="默认段落字体"/>
      <w:semiHidden/>
    </w:style>
    <w:style w:type="table" w:default="on" w:styleId="a1">
      <w:name w:val="Normal Table"/>
      <wx:uiName wx:val="普通表格"/>
      <w:semiHidden/>
      <w:rPr>
        <wx:font wx:val="Calibri"/>
      </w:rPr>
      <w:tblPr>
        <w:tblInd w:w="0" w:type="dxa"/>
        <w:tblCellMar>
          <w:top w:w="0" w:type="dxa"/>
          <w:left w:w="108" w:type="dxa"/>
          <w:bottom w:w="0" w:type="dxa"/>
          <w:right w:w="108" w:type="dxa"/>
        </w:tblCellMar>
      </w:tblPr>
    </w:style>
    <w:style w:type="list" w:default="on" w:styleId="a2">
      <w:name w:val="No List"/>
      <wx:uiName wx:val="无列表"/>
      <w:semiHidden/>
    </w:style>
    <w:style w:type="table" w:styleId="a3">
      <w:name w:val="Table Grid"/>
      <wx:uiName wx:val="网格型"/>
      <w:basedOn w:val="a1"/>
      <w:rsid w:val="00AD39E7"/>
      <w:rPr>
        <wx:font wx:val="Calibri"/>
      </w:rPr>
      <w:tblPr>
        <w:tblInd w:w="0" w:type="dxa"/>
        <w:tblBorders>
          <w:top w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
          <w:left w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
          <w:bottom w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
          <w:right w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
          <w:insideH w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
          <w:insideV w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
        </w:tblBorders>
        <w:tblCellMar>
          <w:top w:w="0" w:type="dxa"/>
          <w:left w:w="108" w:type="dxa"/>
          <w:bottom w:w="0" w:type="dxa"/>
          <w:right w:w="108" w:type="dxa"/>
        </w:tblCellMar>
      </w:tblPr>
    </w:style>
    <w:style w:type="paragraph" w:styleId="a4">
      <w:name w:val="header"/>
      <wx:uiName wx:val="页眉"/>
      <w:basedOn w:val="a"/>
      <w:link w:val="CharChar1"/>
      <w:semiHidden/>
      <w:rsid w:val="00EB04D4"/>
      <w:pPr>
        <w:pStyle w:val="a4"/>
        <w:pBdr>
          <w:bottom w:val="single" w:sz="6" wx:bdrwidth="15" w:space="1" w:color="auto"/>
        </w:pBdr>
        <w:tabs>
          <w:tab w:val="center" w:pos="4153"/>
          <w:tab w:val="right" w:pos="8306"/>
        </w:tabs>
        <w:snapToGrid w:val="off"/>
        <w:jc w:val="center"/>
      </w:pPr>
      <w:rPr>
        <wx:font wx:val="Calibri"/>
        <w:sz w:val="18"/>
        <w:sz-cs w:val="18"/>
      </w:rPr>
    </w:style>
    <w:style w:type="character" w:styleId="CharChar1">
      <w:name w:val="Char Char1"/>
      <w:basedOn w:val="a0"/>
      <w:link w:val="a4"/>
      <w:semiHidden/>
      <w:rsid w:val="00EB04D4"/>
      <w:rPr>
        <w:kern w:val="2"/>
        <w:sz w:val="18"/>
        <w:sz-cs w:val="18"/>
      </w:rPr>
    </w:style>
    <w:style w:type="paragraph" w:styleId="a5">
      <w:name w:val="footer"/>
      <wx:uiName wx:val="页脚"/>
      <w:basedOn w:val="a"/>
      <w:link w:val="CharChar"/>
      <w:semiHidden/>
      <w:rsid w:val="00EB04D4"/>
      <w:pPr>
        <w:pStyle w:val="a5"/>
        <w:tabs>
          <w:tab w:val="center" w:pos="4153"/>
          <w:tab w:val="right" w:pos="8306"/>
        </w:tabs>
        <w:snapToGrid w:val="off"/>
        <w:jc w:val="left"/>
      </w:pPr>
      <w:rPr>
        <wx:font wx:val="Calibri"/>
        <w:sz w:val="18"/>
        <w:sz-cs w:val="18"/>
      </w:rPr>
    </w:style>
    <w:style w:type="character" w:styleId="CharChar">
      <w:name w:val="Char Char"/>
      <w:basedOn w:val="a0"/>
      <w:link w:val="a5"/>
      <w:semiHidden/>
      <w:rsid w:val="00EB04D4"/>
      <w:rPr>
        <w:kern w:val="2"/>
        <w:sz w:val="18"/>
        <w:sz-cs w:val="18"/>
      </w:rPr>
    </w:style>
  </w:styles>
  <w:shapeDefaults>
    <o:shapedefaults v:ext="edit" spidmax="5122"/>
    <o:shapelayout v:ext="edit">
      <o:idmap v:ext="edit" data="1"/>
    </o:shapelayout>
  </w:shapeDefaults>
  <w:docPr>
    <w:view w:val="print"/>
    <w:zoom w:percent="100"/>
    <w:doNotEmbedSystemFonts/>
    <w:bordersDontSurroundHeader/>
    <w:bordersDontSurroundFooter/>
    <w:attachedTemplate w:val=""/>
    <w:stylePaneFormatFilter w:val="1004"/>
    <w:defaultTabStop w:val="420"/>
    <w:drawingGridHorizontalSpacing w:val="105"/>
    <w:drawingGridVerticalSpacing w:val="156"/>
    <w:displayHorizontalDrawingGridEvery w:val="0"/>
    <w:displayVerticalDrawingGridEvery w:val="2"/>
    <w:punctuationKerning/>
    <w:characterSpacingControl w:val="CompressPunctuation"/>
    <w:validateAgainstSchema/>
    <w:saveInvalidXML w:val="off"/>
    <w:ignoreMixedContent w:val="off"/>
    <w:alwaysShowPlaceholderText w:val="off"/>
    <w:hdrShapeDefaults>
      <o:shapedefaults v:ext="edit" spidmax="5122"/>
    </w:hdrShapeDefaults>
    <w:footnotePr>
      <w:footnote w:type="separator">
        <w:p wsp:rsidR="0089592E" wsp:rsidRDefault="0089592E" wsp:rsidP="000847E7">
          <w:pPr>
            <w:rPr>
              <w:rFonts w:hint="fareast"/>
            </w:rPr>
          </w:pPr>
          <w:r>
            <w:separator/>
          </w:r>
        </w:p>
      </w:footnote>
      <w:footnote w:type="continuation-separator">
        <w:p wsp:rsidR="0089592E" wsp:rsidRDefault="0089592E" wsp:rsidP="000847E7">
          <w:pPr>
            <w:rPr>
              <w:rFonts w:hint="fareast"/>
            </w:rPr>
          </w:pPr>
          <w:r>
            <w:continuationSeparator/>
          </w:r>
        </w:p>
      </w:footnote>
    </w:footnotePr>
    <w:endnotePr>
      <w:endnote w:type="separator">
        <w:p wsp:rsidR="0089592E" wsp:rsidRDefault="0089592E" wsp:rsidP="000847E7">
          <w:pPr>
            <w:rPr>
              <w:rFonts w:hint="fareast"/>
            </w:rPr>
          </w:pPr>
          <w:r>
            <w:separator/>
          </w:r>
        </w:p>
      </w:endnote>
      <w:endnote w:type="continuation-separator">
        <w:p wsp:rsidR="0089592E" wsp:rsidRDefault="0089592E" wsp:rsidP="000847E7">
          <w:pPr>
            <w:rPr>
              <w:rFonts w:hint="fareast"/>
            </w:rPr>
          </w:pPr>
          <w:r>
            <w:continuationSeparator/>
          </w:r>
        </w:p>
      </w:endnote>
    </w:endnotePr>
    <w:compat>
      <w:spaceForUL/>
      <w:balanceSingleByteDoubleByteWidth/>
      <w:doNotLeaveBackslashAlone/>
      <w:ulTrailSpace/>
      <w:doNotExpandShiftReturn/>
      <w:adjustLineHeightInTable/>
      <w:breakWrappedTables/>
      <w:snapToGridInCell/>
      <w:wrapTextWithPunct/>
      <w:useAsianBreakRules/>
      <w:dontGrowAutofit/>
      <w:useFELayout/>
    </w:compat>
    <wsp:rsids>
      <wsp:rsidRoot wsp:val="00AD39E7"/>
      <wsp:rsid wsp:val="00002639"/>
      <wsp:rsid wsp:val="000822AF"/>
      <wsp:rsid wsp:val="00090CE9"/>
      <wsp:rsid wsp:val="000F62D3"/>
      <wsp:rsid wsp:val="00195620"/>
      <wsp:rsid wsp:val="001C6167"/>
      <wsp:rsid wsp:val="001E27CE"/>
      <wsp:rsid wsp:val="001E422A"/>
      <wsp:rsid wsp:val="004C0320"/>
      <wsp:rsid wsp:val="006164C1"/>
      <wsp:rsid wsp:val="00620C39"/>
      <wsp:rsid wsp:val="0072747C"/>
      <wsp:rsid wsp:val="007A7615"/>
      <wsp:rsid wsp:val="00815F27"/>
      <wsp:rsid wsp:val="0089592E"/>
      <wsp:rsid wsp:val="008D5DBE"/>
      <wsp:rsid wsp:val="00903470"/>
      <wsp:rsid wsp:val="00981219"/>
      <wsp:rsid wsp:val="009C7247"/>
      <wsp:rsid wsp:val="009F6B58"/>
      <wsp:rsid wsp:val="00A01E45"/>
      <wsp:rsid wsp:val="00AD39E7"/>
      <wsp:rsid wsp:val="00C8121D"/>
      <wsp:rsid wsp:val="00CF6F62"/>
      <wsp:rsid wsp:val="00D150B9"/>
      <wsp:rsid wsp:val="00E62D21"/>
      <wsp:rsid wsp:val="00E901D7"/>
      <wsp:rsid wsp:val="00EB7342"/>
      <wsp:rsid wsp:val="00FB40F4"/>
    </wsp:rsids>
  </w:docPr>
  <w:body>
    <wx:sect>
      <w:p wsp:rsidR="000847E7" wsp:rsidRDefault="0089592E">
        <w:pPr>
          <w:rPr>
            <w:rFonts w:hint="fareast"/>
          </w:rPr>
        </w:pPr>
      </w:p>
      <w:tbl>
        <w:tblPr>
          <w:tblW w:w="0" w:type="auto"/>
          <w:tblBorders>
            <w:top w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
            <w:left w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
            <w:bottom w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
            <w:right w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
            <w:insideH w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
            <w:insideV w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
          </w:tblBorders>
          <w:tblLook w:val="04A0"/>
        </w:tblPr>
        <w:tblGrid>
          <w:gridCol w:w="3560"/>
          <w:gridCol w:w="3561"/>
          <w:gridCol w:w="3561"/>
        </w:tblGrid>
        <w:tr wsp:rsidR="000847E7" wsp:rsidRPr="00C5036C" wsp:rsidTr="000847E7">
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="10682" w:type="dxa"/>
              <w:gridSpan w:val="3"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00C5036C" wsp:rsidRDefault="00090CE9" wsp:rsidP="000847E7">
              <w:pPr>
                <w:jc w:val="center"/>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:b/>
                  <w:sz w:val="30"/>
                  <w:sz-cs w:val="30"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00090CE9">
                <w:rPr>
                  <w:b/>
                  <w:sz w:val="30"/>
                  <w:sz-cs w:val="30"/>
                </w:rPr>
                <w:t>$!company.cName</w:t>
              </w:r>
              <w:r wsp:rsidR="006164C1" wsp:rsidRPr="00C5036C">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:b/>
                  <w:sz w:val="30"/>
                  <w:sz-cs w:val="30"/>
                </w:rPr>
                <w:t>《客人名单表》</w:t>
              </w:r>
            </w:p>
          </w:tc>
        </w:tr>
        <w:tr wsp:rsidR="000847E7" wsp:rsidRPr="00AD39E7" wsp:rsidTr="000847E7">
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="10682" w:type="dxa"/>
              <w:gridSpan w:val="3"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00AD39E7" wsp:rsidRDefault="0089592E">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                </w:rPr>
              </w:pPr>
            </w:p>
          </w:tc>
        </w:tr>
        <w:tr wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidTr="000847E7">
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="10682" w:type="dxa"/>
              <w:gridSpan w:val="3"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>打印日期：</w:t>
              </w:r>
              <aml:annotation aml:id="0" w:type="Word.Bookmark.Start" w:name="Print_Time"/>
              <aml:annotation aml:id="0" w:type="Word.Bookmark.End"/>
            </w:p>
          </w:tc>
        </w:tr>
        <w:tr wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidTr="000847E7">
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="3560" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>团</w:t>
              </w:r>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t> </w:t>
              </w:r>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>号：</w:t>
              </w:r>
              <w:r wsp:rsidR="00CF6F62" wsp:rsidRPr="00CF6F62">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!line.lGroupNumber</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="7122" w:type="dxa"/>
              <w:gridSpan w:val="2"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>线路名称：</w:t>
              </w:r>
              <w:r wsp:rsidR="009C7247" wsp:rsidRPr="009C7247">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!line.lTile</w:t>
              </w:r>
            </w:p>
          </w:tc>
        </w:tr>
        <w:tr wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidTr="000847E7">
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="3560" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>旅游天数：</w:t>
              </w:r>
              <w:r wsp:rsidR="001C6167" wsp:rsidRPr="001C6167">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!line.lDay</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="3561" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>出团日期：</w:t>
              </w:r>
              <w:r wsp:rsidR="00C8121D" wsp:rsidRPr="00C8121D">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!line.lGoGroupTimeString</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="3561" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidRDefault="0089592E">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
            </w:p>
          </w:tc>
        </w:tr>
        <w:tr wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidTr="000847E7">
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="3560" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>地</w:t>
              </w:r>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t> </w:t>
              </w:r>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>接</w:t>
              </w:r>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t> </w:t>
              </w:r>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>社：</w:t>
              </w:r>
              <w:r wsp:rsidR="0072747C" wsp:rsidRPr="0072747C">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!company.cName</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="3561" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>地</w:t>
              </w:r>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t> </w:t>
              </w:r>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>陪：</w:t>
              </w:r>
              <w:r wsp:rsidR="008D5DBE" wsp:rsidRPr="008D5DBE">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!line.lDipei</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="3561" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>是否接送：</w:t>
              </w:r>
              <aml:annotation aml:id="1" w:type="Word.Bookmark.Start" w:name="L_Isjs"/>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>
                	#if($!line.lIsJs==0)
                    	不接送
                    #else
                    	接送
                    #end
                </w:t>
              </w:r>
              <aml:annotation aml:id="1" w:type="Word.Bookmark.End"/>
            </w:p>
          </w:tc>
        </w:tr>
        <w:tr wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidTr="000847E7">
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="3560" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>出发交通：</w:t>
              </w:r>
              <w:r wsp:rsidR="00620C39" wsp:rsidRPr="00620C39">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!line.lTrafficyTypeString</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="3561" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>送团标志：</w:t>
              </w:r>
              <w:r wsp:rsidR="00A01E45" wsp:rsidRPr="00A01E45">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!line.lIco</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="3561" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>集</w:t>
              </w:r>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t> </w:t>
              </w:r>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>合</w:t>
              </w:r>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t> </w:t>
              </w:r>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>地：</w:t>
              </w:r>
              <w:r wsp:rsidR="001E422A" wsp:rsidRPr="001E422A">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!line.lJhd</w:t>
              </w:r>
            </w:p>
          </w:tc>
        </w:tr>
        <w:tr wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidTr="000847E7">
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="3560" w:type="dxa"/>
              <w:tcBorders>
                <w:right w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
              </w:tcBorders>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>返程交通：</w:t>
              </w:r>
              <w:r wsp:rsidR="00903470" wsp:rsidRPr="00903470">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!line.lTrafficBackTypeString</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="7122" w:type="dxa"/>
              <w:gridSpan w:val="2"/>
              <w:tcBorders>
                <w:left w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
              </w:tcBorders>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>送团电话:</w:t>
              </w:r>
              <w:r wsp:rsidR="000F62D3" wsp:rsidRPr="000F62D3">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!line.lGroupTel</w:t>
              </w:r>
            </w:p>
          </w:tc>
        </w:tr>
        <w:tr wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidTr="000847E7">
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="3560" w:type="dxa"/>
              <w:tcBorders>
                <w:right w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
              </w:tcBorders>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>总</w:t>
              </w:r>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t> </w:t>
              </w:r>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>人</w:t>
              </w:r>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t> </w:t>
              </w:r>
              <w:r wsp:rsidRPr="00E42771">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>数：</w:t>
              </w:r>
              <w:r wsp:rsidR="00E62D21" wsp:rsidRPr="00E62D21">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!line.lRenCount</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="7122" w:type="dxa"/>
              <w:gridSpan w:val="2"/>
              <w:tcBorders>
                <w:left w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
              </w:tcBorders>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00E42771" wsp:rsidRDefault="0089592E" wsp:rsidP="000847E7">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <aml:annotation aml:id="2" w:type="Word.Bookmark.Start" w:name="L_CrCount"/>
              <aml:annotation aml:id="2" w:type="Word.Bookmark.End"/>
            </w:p>
          </w:tc>
        </w:tr>
      </w:tbl>
      <w:p wsp:rsidR="000847E7" wsp:rsidRDefault="0089592E">
        <w:pPr>
          <w:rPr>
            <w:rFonts w:hint="fareast"/>
          </w:rPr>
        </w:pPr>
      </w:p>
      <w:tbl>
        <w:tblPr>
          <w:tblW w:w="0" w:type="auto"/>
          <w:tblBorders>
            <w:top w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
            <w:left w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
            <w:bottom w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
            <w:right w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
            <w:insideH w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
            <w:insideV w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
          </w:tblBorders>
          <w:tblLook w:val="04A0"/>
        </w:tblPr>
        <w:tblGrid>
          <w:gridCol w:w="1536"/>
          <w:gridCol w:w="1851"/>
          <w:gridCol w:w="396"/>
          <w:gridCol w:w="1731"/>
          <w:gridCol w:w="1911"/>
          <w:gridCol w:w="1911"/>
          <w:gridCol w:w="486"/>
          <w:gridCol w:w="1821"/>
        </w:tblGrid>
        #set($zj=0)
		#foreach($guestFullDO in $!guestFullDOs)
        <w:tr wsp:rsidR="00D150B9" wsp:rsidRPr="000D49F3" wsp:rsidTr="000847E7">
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="817" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="000D49F3">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>编号</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="992" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="000D49F3">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>姓名</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="709" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="000D49F3">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>性别</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="1843" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="000D49F3">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>身份证</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="1417" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="000D49F3">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>联系电话</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="2127" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="000D49F3">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>组团社</w:t>
              </w:r>
              <w:r wsp:rsidRPr="000D49F3">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>/</w:t>
              </w:r>
              <w:r wsp:rsidRPr="000D49F3">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>经办人</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="1134" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="000D49F3">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>应收费用</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="1643" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="000D49F3">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>备注</w:t>
              </w:r>
            </w:p>
          </w:tc>
        </w:tr>
        <w:tr wsp:rsidR="00D150B9" wsp:rsidRPr="000D49F3" wsp:rsidTr="000847E7">
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="817" w:type="dxa"/>
              <w:tcBorders>
                <w:top w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:left w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:bottom w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:right w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
              </w:tcBorders>
              <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="00FB40F4">
              <w:pPr>
                <w:jc w:val="left"/>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00FB40F4">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!guestFullDO.gId</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="992" w:type="dxa"/>
              <w:tcBorders>
                <w:top w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:left w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:bottom w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:right w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
              </w:tcBorders>
              <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="00FB40F4">
              <w:pPr>
                <w:jc w:val="left"/>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00FB40F4">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!guestFullDO.gName</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="709" w:type="dxa"/>
              <w:tcBorders>
                <w:top w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:left w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:bottom w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:right w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
              </w:tcBorders>
              <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:jc w:val="left"/>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="000D49F3">
                <w:rPr>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>
                	#if($!guestFullDO.gSex==0)
                    	男
                    #else
                    	女
                    #end
                </w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="1843" w:type="dxa"/>
              <w:tcBorders>
                <w:top w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:left w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:bottom w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:right w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
              </w:tcBorders>
              <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="00FB40F4">
              <w:pPr>
                <w:jc w:val="left"/>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00FB40F4">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!guestFullDO.gCard</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="1417" w:type="dxa"/>
              <w:tcBorders>
                <w:top w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:left w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:bottom w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:right w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
              </w:tcBorders>
              <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="00D150B9">
              <w:pPr>
                <w:jc w:val="left"/>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00D150B9">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!guestFullDO.gMobile</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="2127" w:type="dxa"/>
              <w:tcBorders>
                <w:top w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:left w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:bottom w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:right w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
              </w:tcBorders>
              <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p wsp:rsidR="00D150B9" wsp:rsidRDefault="00D150B9">
              <w:pPr>
                <w:jc w:val="left"/>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00D150B9">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!guestFullDO.cName</w:t>
              </w:r>
            </w:p>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:jc w:val="left"/>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="000D49F3">
                <w:rPr>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>经办人：</w:t>
              </w:r>
              <w:r wsp:rsidR="00D150B9" wsp:rsidRPr="00D150B9">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!guestFullDO.mName</w:t>
              </w:r>
            </w:p>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:jc w:val="left"/>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="000D49F3">
                <w:rPr>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>手机：</w:t>
              </w:r>
              <w:r wsp:rsidR="00D150B9" wsp:rsidRPr="00D150B9">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!guestFullDO.cMobile</w:t>
              </w:r>
            </w:p>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:jc w:val="left"/>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="000D49F3">
                <w:rPr>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>电话</w:t>
              </w:r>
              <w:r wsp:rsidRPr="000D49F3">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>:</w:t>
              </w:r>
              <w:r wsp:rsidR="00D150B9" wsp:rsidRPr="00D150B9">
                <w:rPr>
                  <w:rFonts w:ascii="Consolas" w:h-ansi="Consolas" w:cs="Consolas"/>
                  <wx:font wx:val="Consolas"/>
                  <w:kern w:val="0"/>
                  <w:sz w:val="20"/>
                  <w:sz-cs w:val="20"/>
                  <w:highlight w:val="blue"/>
                </w:rPr>
                <w:t> </w:t>
              </w:r>
              <w:r wsp:rsidR="00D150B9" wsp:rsidRPr="00D150B9">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!guestFullDO.cTel</w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="1134" w:type="dxa"/>
              <w:tcBorders>
                <w:top w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:left w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:bottom w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:right w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
              </w:tcBorders>
              <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:jc w:val="left"/>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="000D49F3">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>
                	#set($ysfy=0)
                	#if($!guestFullDO.gType == 0)
                		#if($!guestFullDO.gDangFang == 0)
                    		#set($ysfy=$!guestFullDO.lJCrPrice+$!guestFullDO.gDangFangPrice)
                    	#else
                    		#set($ysfy=$!guestFullDO.lJCrPrice)
                    	#end
                    #elseif($!guestFullDO.gType == 1)
                    	#if($!guestFullDO.gDangFang == 0)
                    		#set($ysfy=$!guestFullDO.lJXhPrice+$!guestFullDO.gDangFangPrice)
                    	#else
                    		#set($ysfy=$!guestFullDO.lJXhPrice)
                    	#end
                    #end
                   	￥$!ysfy
                </w:t>
              </w:r>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="1643" w:type="dxa"/>
              <w:tcBorders>
                <w:top w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:left w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:bottom w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
                <w:right w:val="single" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="000000"/>
              </w:tcBorders>
              <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="004C0320">
              <w:pPr>
                <w:jc w:val="left"/>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="004C0320">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>$!guestFullDO.gMode</w:t>
              </w:r>
            </w:p>
          </w:tc>
        </w:tr>
        #set($zj=$zj+$ysfy)
		#end
      </w:tbl>
      <w:p wsp:rsidR="000847E7" wsp:rsidRPr="000D49F3" wsp:rsidRDefault="0089592E">
        <w:pPr>
          <w:rPr>
            <w:rFonts w:hint="fareast"/>
            <w:sz w:val="18"/>
            <w:sz-cs w:val="18"/>
          </w:rPr>
        </w:pPr>
        <aml:annotation aml:id="3" w:type="Word.Bookmark.Start" w:name="userlist"/>
        <aml:annotation aml:id="3" w:type="Word.Bookmark.End"/>
      </w:p>
      <w:tbl>
        <w:tblPr>
          <w:tblW w:w="0" w:type="auto"/>
          <w:tblBorders>
            <w:top w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
            <w:left w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
            <w:bottom w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
            <w:right w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
            <w:insideH w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
            <w:insideV w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="000000"/>
          </w:tblBorders>
          <w:tblLook w:val="04A0"/>
        </w:tblPr>
        <w:tblGrid>
          <w:gridCol w:w="7905"/>
          <w:gridCol w:w="2777"/>
        </w:tblGrid>
        <w:tr wsp:rsidR="000847E7" wsp:rsidRPr="00401332" wsp:rsidTr="000847E7">
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="7905" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRDefault="0089592E">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                </w:rPr>
              </w:pPr>
            </w:p>
          </w:tc>
          <w:tc>
            <w:tcPr>
              <w:tcW w:w="2777" w:type="dxa"/>
            </w:tcPr>
            <w:p wsp:rsidR="000847E7" wsp:rsidRPr="00401332" wsp:rsidRDefault="006164C1">
              <w:pPr>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
              </w:pPr>
              <w:r wsp:rsidRPr="00401332">
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                  <wx:font wx:val="宋体"/>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>总计：</w:t>
              </w:r>
              <aml:annotation aml:id="4" w:type="Word.Bookmark.Start" w:name="PriceCount"/>
              <w:r wsp:rsidRPr="00401332">
                <w:rPr>
                  <w:sz w:val="18"/>
                  <w:sz-cs w:val="18"/>
                </w:rPr>
                <w:t>￥$!zj</w:t>
              </w:r>
              <aml:annotation aml:id="4" w:type="Word.Bookmark.End"/>
            </w:p>
          </w:tc>
        </w:tr>
      </w:tbl>
      <w:p wsp:rsidR="000847E7" wsp:rsidRDefault="0089592E">
        <w:pPr>
          <w:rPr>
            <w:rFonts w:hint="fareast"/>
          </w:rPr>
        </w:pPr>
      </w:p>
      <w:sectPr wsp:rsidR="000847E7" wsp:rsidSect="000847E7">
        <w:hdr w:type="even">
          <wx:pBdrGroup>
            <wx:borders>
              <wx:bottom wx:val="solid" wx:bdrwidth="15" wx:space="1" wx:color="auto"/>
            </wx:borders>
            <w:p wsp:rsidR="00002639" wsp:rsidRDefault="00002639">
              <w:pPr>
                <w:pStyle w:val="a4"/>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                </w:rPr>
              </w:pPr>
            </w:p>
          </wx:pBdrGroup>
        </w:hdr>
        <w:hdr w:type="odd">
          <w:p wsp:rsidR="00002639" wsp:rsidRDefault="00002639" wsp:rsidP="004C0320">
            <w:pPr>
              <w:pStyle w:val="a4"/>
              <w:pBdr>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
              </w:pBdr>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
            </w:pPr>
          </w:p>
        </w:hdr>
        <w:ftr w:type="even">
          <w:p wsp:rsidR="00002639" wsp:rsidRDefault="00002639">
            <w:pPr>
              <w:pStyle w:val="a5"/>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
            </w:pPr>
          </w:p>
        </w:ftr>
        <w:ftr w:type="odd">
          <w:p wsp:rsidR="00002639" wsp:rsidRDefault="00002639">
            <w:pPr>
              <w:pStyle w:val="a5"/>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
            </w:pPr>
          </w:p>
        </w:ftr>
        <w:hdr w:type="first">
          <wx:pBdrGroup>
            <wx:borders>
              <wx:bottom wx:val="solid" wx:bdrwidth="15" wx:space="1" wx:color="auto"/>
            </wx:borders>
            <w:p wsp:rsidR="00002639" wsp:rsidRDefault="00002639">
              <w:pPr>
                <w:pStyle w:val="a4"/>
                <w:rPr>
                  <w:rFonts w:hint="fareast"/>
                </w:rPr>
              </w:pPr>
            </w:p>
          </wx:pBdrGroup>
        </w:hdr>
        <w:ftr w:type="first">
          <w:p wsp:rsidR="00002639" wsp:rsidRDefault="00002639">
            <w:pPr>
              <w:pStyle w:val="a5"/>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
            </w:pPr>
          </w:p>
        </w:ftr>
        <w:pgSz w:w="11906" w:h="16838"/>
        <w:pgMar w:top="720" w:right="720" w:bottom="720" w:left="720" w:header="851" w:footer="992" w:gutter="0"/>
        <w:cols w:space="425"/>
        <w:docGrid w:type="lines" w:line-pitch="312"/>
      </w:sectPr>
    </wx:sect>
  </w:body>
</w:wordDocument>