@charset "utf-8";
/* CSS Document */


html, body, blockquote, dd, dl, fieldset, legend, figure,
h1, h2, h3, h4, h5, h6, hr, ol, p, pre, ul,li, th, td, form, input, textarea, button,dl,dd，dt {
margin: 0;
padding: 0;
}
fieldset, iframe, img { border: 0; }
address, cite, code, em, ins, kbd, pre, samp, strong, sub, sup, var {
font-family: "微软雅黑";
font-style: normal;
}
h1, h2, h3, h4, h5, h6, sub, sup {
font-size: 100%;
font-weight: normal;
}
input, button, textarea, select { *font-size: 100%; }
input, button, textarea, select, optgroup, option { font: inherit; }
ol, ul { list-style: none; }
q:before, q:after { content: ''; }
table { border-collapse: collapse; border-spacing: 0; }
.clear{clear:both;}

.fl{float:left;}
.fr{float:right;}
/*html5
-------------------------------------------------------------- */
header, footer, nav, section, article, figure, figcaption { display: block; }

/*base
-------------------------------------------------------------- */
html{
background:
}
body { font-size: 12px; font-family: "微软雅黑", Arial, Helvetica, sans-serif; line-height: 1.5; color: #555555;

}
html body.index{
/*  background: url(/images/bg_02.jpg) repeat-x top #f0f0f0;*/
}
h1 { font-size: 2.2em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }
a:link, a:visited { color: #666; text-decoration: none; }
a:hover, a:active { text-decoration: underline; outline: 0;color:#FF8800; }

.c{width:1200px;margin:0 auto;}
.h10{height:10px;}


.z-submit {
  background: #ff8800;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  width: 190px;
  text-align: center;
  line-height: 45px;
  height:45px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.z-submit:hover {
  background: #ff9911;
}
.select {
  line-height: 32px;
  height: 32px;
  border: 1px solid #ccc;
  margin: 0;
}
.z-input {
  line-height: 26px;
  height:26px;
  padding: 3px 2px;
  border: 1px solid #ccc;
  min-width: 220px;
}
.numinput{
  line-height: 26px;
  height:26px;
  padding: 3px 2px;
  border: 1px solid #ccc;
  min-width: 30px;
}


/* Pager
    *********************************/
.pager{margin:20px 0;text-align:center;list-style:none;*zoom:1}.pager:before,.pager:after{display:table;line-height:0;content:""}.pager:after{clear:both}.pager li{display:inline}.pager li>a,.pager li>span{display:inline-block;padding:5px 14px;background-color:#fff;border:1px solid #ddd;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}.pager li>a:hover,.pager li>a:focus{text-decoration:none;background-color:#f5f5f5}.pager .next>a,.pager .next>span{float:right}.pager .previous>a,.pager .previous>span{float:left}.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span{color:#999;cursor:default;background-color:#fff}.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
