/*会员注册*/
#register {
  background: #f4f4f4;
  overflow: hidden;
  _zoom: 1;
}
#register .tits {
  margin: 0 auto;
  height: 130px;
  margin-top: 40px;
  width: 320px;
}
#register .tits span {
  position: relative;
  display: inline-block;
  height: 130px;
  float: left;
  z-index: 99;
  margin-right: 60px;
}
#register .tits span a {
  display: inline-block;
  font-size: 16px;
  text-align: center;
}
#register .tits span a .i1,
#register .tits span a .i2 {
  display: block;
  width: 69px;
  height: 69px;
  margin: 0 0 10px 10px;
}
#register .tits span a .i1 {
  background-position: 0 -214px;
}
#register .tits span a .i2 {
  background-position: -69px -214px;
}
#register .tits span .on .i1 {
  background-position: 0 -283px;
}
#register .tits span .on .i2 {
  background-position: -69px -283px;
}
#register .tits span p {
  position: absolute;
  display: inline-block;
  width: 31px;
  height: 18px;
  background-position: -164px -225px;
  bottom: -18px;
  left: 32px;
  display: none;
}
#register .content {
  overflow: hidden;
  _zoom: 1;
  border-top: 3px solid #ff8800;
  background: #fff;
  padding: 50px 0;
  margin-bottom: 10px;
}
#register .content .left {
  width: 680px;
  float: left;
}
#register .content .left .tit {
  border-bottom: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  text-indent: 20px;
  overflow: hidden;
  _zoom: 1;
  margin-bottom: 10px;
}
#register .content .left .tit h3 {
  font-size: 20px;
  color: #000;
  margin: 0;
  padding: 0;
  float: left;
  line-height: 40px;
}
#register .content .left .tit span {
  display: inline-block;
}
#register .content .left .tit span b {
  color: #ff8800;
  padding-left: 5px;
}
#register .content .left .form {
  margin: 20px 20px;
}
#register .content .left .form dl {
  height: 40px;
  margin: 5px 0;
}
#register .content .left .form dd,
#register .content .left .form dt {
  float: left;
  display: block;
  line-height: 26px;
}
#register .content .left .form dt {
  width: 100px;
  font-size: 14px;
}
#register .content .left .form .reginput {
  line-height: 26px;height:26px;
  padding: 3px 2px;
  border: 1px solid #ccc;
  min-width: 220px;
}
#register .content .left .form .regsubmit {
  background: #ff8800;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  width: 190px;
  text-align: center;
  line-height: 45px;
  height:45px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 100px;
}
#register .content .left .form .regsubmit:hover {
  background: #ff9911;
}
#register .content .left .form select {
  line-height: 32px;
  height: 32px;
  border: 1px solid #ccc;
  margin: 0;
}
#register .content .left .form label {
  margin-left: 10px;
}
#register .content .right {
  width: 410px;
  float: right;
  margin-right: 10px;
}
#register .content .right .login {
  line-height: 40px;
}
#register .content .right .login a {
  background: #FFAE55;
  display: block;
  color: #fff;
  font-size: 14px;
  text-indent: 10px;
}
#register .content .right .login a:hover {
  background: #ff8800;
}
#register .content .right .box {
  background: #FAFAFA;
  overflow: hidden;
  _zoom: 1;
  padding: 10px;
}
#register .content .right .box dl {
  margin: 20px 0;
  border-bottom: dotted 1px #FFE7D0;
  padding-bottom: 10px;
}
#register .content .right .box dd {
  font-size: 18px;
  color: #ff8800;
}
#register .content .right .box dd i {
  width: 34px;
  height: 35px;
  margin-right: 10px;
}
#register .content .right .box dt {
  margin-left: 45px;
}
#register .content .right .box dt p {
  margin: 5px 0;
}
#register .content .right .box dt p span {
  display: inline-block;
  margin-right: 20px;
}
#register .content .right .box dt i {
  width: 17px;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
}
#register .content .right .box .i1 {
  background-position: -164px -255px;
}
#register .content .right .box .i2 {
  background-position: -164px -301px;
}
#register .content .right .box .i3 {
  background-position: -164px -350px;
}
#register .content .right .box .i4 {
  background-position: -33px -367px;
}
#register .content .right .box .i5 {
  background-position: -2px -366px;
}
#register .success {
  min-height: 400px;
  background: #fff;
  margin: 10px auto;
  display:none;
}
#register .success .info {
  padding-top: 100px;
  vertical-align: middle;
  text-align: center;
}
#register .success .info dt {
  margin-bottom: 20px;
  font-size: 16px;
}
#register .success .info dd {
  line-height: 30px;
}
#register .success .info i {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-position: -1px -448px;
  margin-right: 10px;
}
#register .success .info b {
  color: #ff8800;
}
/*会员登录*/
.user_header {
  width: 1150px;
  margin: 0 auto;
  position: relative;
  height: 100px;
}
.user_header .logo {
  position: absolute;
  top: 20px;
  height: 60px;
}
.user_header .logo a {
  display: inline-block;
  width: 130px;
  height: 60px;
  background: url(/static/img/1409/logo.jpg) no-repeat;
  float: left;
}
.user_header .logo span {
  display: inline-block;
  line-height: 60px;
  font-size: 18px;
  float: left;
  margin-left: 30px;
  border-left: 1px solid #eee;
  padding-left: 30px;
}
.user_header .h-menu {
  position: absolute;
  top: 20px;
  right: 0;
}
.user_header .h-menu a {
  display: inline-block;
  margin-left: 10px;
}
.logins {
  width: 100%;
  height: 450px;
  background: url(/static/img/1409/login.jpg) no-repeat top center;
}
.logins .box {
  width: 1260px;
  position: relative;
}
.logins .box .box2 {
  background: #f5f5f5;
  width: 390px;
  min-height: 350px;
  border: 10px solid #fff;
  position: absolute;
  top: 20px;
  right: 0;
  -moz-box-shadow: 0px 2px 4px #999999;
  -webkit-box-shadow: 0px 2px 4px #999999;
  box-shadow: 0px 2px 4px #999999;
}
.logins .box .box2 .tit {
  height: 42px;
  overflow: hidden;
}
.logins .box .box2 .tit a {
  display: inline-block;
  width: 50%;
  line-height: 42px;
  text-align: center;
  font-size: 16px;
  background: #666;
  color: #fff;
}
.logins .box .box2 .tit .hover {
  background: #f5f5f5;
  color: #666;
}
.logins .box .box2 .list {
  margin: 30px 20px;
}
.logins .box .box2 .list dl {
  margin: 5px 0;
  overflow: hidden;
}
.logins .box .box2 .list dl dd,
.logins .box .box2 .list dl dt {
  float: left;
  display: inline-block;
  min-height: 50px;
  line-height: 34px;
}
.logins .box .box2 .list dl dd {
  width: 80px;
  font-size: 14px;
}
.logins .box .box2 .list dl dt span {
  display: block;
}
.logins .box .box2 .list dl dt .input {
  line-height: 30px;
  height:30px;
  border: 1px solid #ccc;
  padding: 2px;
  width: 220px;
}
.logins .box .box2 .list dl dt .w100 {
  width: 100px;
}
.logins .box .box2 .list .li dt {
  line-height: 20px;
  min-height: 20px;
}
.logins .box .box2 .list .li dt #remobe {
  vertical-align: middle;
}
.logins .box .box2 .list .li dt label {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.logins .box .box2 .list .li dt a {
  color: #ff8800;
  font-weight: bold;
  display: inline-block;
  margin: 0 5px;
}
.logins .box .box2 .list .li .submit {
  background: #ff8800;
  border: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  width: 220px;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin-left:80px;
}
.logins .box .box2 .list .li .submit:hover {
  background: #ff9911;
}